/* @import "vendor/font-awesome-4.7.0/font-awesome"; */
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: none !important;
}

body {
  margin: 0px;
  padding: 0px;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0px;
  padding: 0px;
}

ol,
ul,
li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: block;
}

ol li,
ul li,
li li {
  list-style-type: none;
}

ol li a,
ul li a,
li li a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #00BAB4;
}

a:hover {
  color: #483a3b;
}

button {
  outline: none !important;
  cursor: pointer;
  background: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a:hover,
a:focus {
  text-decoration: none;
}

a img {
  border: 0;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

img {
  border: 0;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

label {
  font-weight: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
}

@-webkit-keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

/* regular */
@font-face {
  font-family: "avertaregular";
  src: url("../fonts/averta-regular-webfont.eot");
  src: url("../fonts/averta-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/averta-regular-webfont.woff2") format("woff2"), url("../fonts/averta-regular-webfont.woff") format("woff"), url("../fonts/averta-regular-webfont.ttf") format("truetype"), url("../fonts/averta-regular-webfont.svg#avertaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* bold */
@font-face {
  font-family: "avertabold";
  src: url("../fonts/averta-bold-webfont.eot");
  src: url("../fonts/averta-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/averta-bold-webfont.woff2") format("woff2"), url("../fonts/averta-bold-webfont.woff") format("woff"), url("../fonts/averta-bold-webfont.ttf") format("truetype"), url("../fonts/averta-bold-webfont.svg#avertabold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* black */
@font-face {
  font-family: "avertablack";
  src: url("../fonts/averta-black-webfont.eot");
  src: url("../fonts/averta-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/averta-black-webfont.woff2") format("woff2"), url("../fonts/averta-black-webfont.woff") format("woff"), url("../fonts/averta-black-webfont.svg#avertablack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tragic_markerregular';
  src: url("../fonts/tragicmarker-webfont.eot");
  src: url("../fonts/tragicmarker-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tragicmarker-webfont.woff2") format("woff2"), url("../fonts/tragicmarker-webfont.woff") format("woff"), url("../fonts/tragicmarker-webfont.svg#tragic_markerregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* respo */
/* clearfix */
.button-wrap {
  padding: 12px 30px;
  font-size: 16px;
  cursor: pointer;
  border: 0;
  display: inline-block;
  text-align: center;
  color: #fff;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-family: "avertabold";
}

.button-wrap:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.button-md {
  padding: 5px 15px;
}

/* Button outline */
.button-outline:after {
  z-index: -1;
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button-outline:hover {
  color: #fff;
}

.button-outline:hover:after {
  height: 100%;
}

.button-outline-primary {
  border: 1px solid #40B4E5;
  color: #40B4E5;
}

.button-outline-primary:after {
  background: #40B4E5;
}

.button-outline-grey {
  border: 1px solid #d5dee3;
  color: #3A2F2D;
}

.button-outline-grey:after {
  background: #d5dee3;
}

.button-outline-grey:hover {
  color: #3A2F2D;
}

.button-outline-dark {
  border: 1px solid #3A2F2D;
  color: #3A2F2D;
}

.button-outline-dark:after {
  background: #3A2F2D;
}

/* Button fill */
.button-fill {
  color: white;
  overflow: hidden;
}

.button-fill:after {
  z-index: -1;
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button-fill:hover {
  color: #3A2F2D;
}

.button-fill:hover:after {
  height: 100%;
}

.button-fill-primary {
  background: #40B4E5;
  border: 1px solid #40B4E5;
}

.button-fill-primary:after {
  background: #fff;
}

.button-fill-primary:hover {
  color: #40B4E5;
}

.button-fill-dark {
  background: #3A2F2D;
  border: 1px solid #3A2F2D;
}

.button-fill-dark:after {
  background: #fff;
}

.button-fill-grey {
  background: #d5dee3;
  border: 1px solid #d5dee3;
}

.button-fill-grey:after {
  background: #fff;
}

.bouncein:hover:before,
.bouncein:hover:after {
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66) !important;
          transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66) !important;
}

.form-control {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  height: 55px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /*  @include transition(); */
}

.form-control.placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form-control:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form-control::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form-control:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form-control::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  /* @include input-hover; */
  border: 1px solid #40B4E5;
  background: #fafdff;
}

.bubble-message-white, .bubble-message-success, .bubble-message-error, .bubble-message-info {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bubble-message-white svg, .bubble-message-success svg, .bubble-message-error svg, .bubble-message-info svg {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

.bubble-message-white {
  background: #fff;
  color: #3f1912;
}

.bubble-message-success {
  background: green;
  color: #fff;
}

.bubble-message-error {
  background: red;
  color: #fff;
}

.bubble-message-info {
  background: yellow;
  color: #3f1912;
}

/* custom checkboxes and radio */
.radios,
.checkboxes {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.radios label,
.checkboxes label {
  cursor: pointer;
  line-height: 1rem;
}

.radios input[type="checkbox"],
.radios input[type="radio"],
.checkboxes input[type="checkbox"],
.checkboxes input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.radios input[type="checkbox"] + label,
.radios input[type="radio"] + label,
.checkboxes input[type="checkbox"] + label,
.checkboxes input[type="radio"] + label {
  position: relative;
  padding-top: 2px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 30px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

.radios input[type="checkbox"] + label:before,
.radios input[type="radio"] + label:before,
.checkboxes input[type="checkbox"] + label:before,
.checkboxes input[type="radio"] + label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background: #fff;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.radios input[type="checkbox"] + label:after,
.radios input[type="radio"] + label:after,
.checkboxes input[type="checkbox"] + label:after,
.checkboxes input[type="radio"] + label:after {
  content: "";
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

.radios input[type="checkbox"] + label:after,
.checkboxes input[type="checkbox"] + label:after {
  background-color: transparent;
  content: "";
  display: block;
  position: absolute;
  left: 8px;
  top: 5px;
  width: 5px;
  height: 9px;
  opacity: 0;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

.radios input[type="checkbox"]:checked + label:before,
.checkboxes input[type="checkbox"]:checked + label:before {
  content: "";
  background: #3A2F2D;
  border: 1px solid #3A2F2D;
}

.radios input[type="checkbox"]:checked + label:after,
.checkboxes input[type="checkbox"]:checked + label:after {
  content: "";
  opacity: 1;
}

.radios input[type="radio"] + label:before, .radios input[type="radio"] + label:after,
.checkboxes input[type="radio"] + label:before,
.checkboxes input[type="radio"] + label:after {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.radios input[type="radio"] + label:after,
.checkboxes input[type="radio"] + label:after {
  left: 6px;
  top: 6px;
  width: 8px;
  height: 8px;
}

.radios input[type="radio"]:checked + label:before,
.checkboxes input[type="radio"]:checked + label:before {
  -webkit-animation: borderscale 300ms ease-in;
          animation: borderscale 300ms ease-in;
}

.radios input[type="radio"]:checked + label:after,
.checkboxes input[type="radio"]:checked + label:after {
  background: #3A2F2D;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.custom-dropdown-outline {
  background: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  height: 35px;
  line-height: 33px;
  border: 1px solid #3A2F2D;
  color: #000;
}

.custom-dropdown-outline select {
  background: none;
  width: 95%;
  font-size: 14px;
  padding: 0 10px;
}

.custom-dropdown-fill {
  background: #000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  height: 35px;
  line-height: 33px;
}

.custom-dropdown-fill select {
  background: none;
  width: 95%;
  font-size: 14px;
  padding: 0 10px;
  color: #fff;
}

.custom-dropdown-fill select option {
  color: #000;
}

.custom-dropdown-fill-purple {
  background: #a2097d;
}

.custom-dropdown-fill-black {
  background: #000;
}

header nav.navbar {
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 6px #4c5c5b1a;
          box-shadow: 0px 3px 6px #4c5c5b1a;
  padding: 10px 0 10px 0;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header nav .navbar-nav {
  margin-left: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header nav .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 30px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}

header nav .navbar-nav .notification-link {
  position: relative;
}

header nav .navbar-nav .notification-link .notification-alert {
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 0;
  top: 10px;
  background: #d82e34;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 2px solid #fff;
}

header nav .navbar-nav .nav-link {
  font-size: 20px;
  text-transform: capitalize;
  color: #3A2F2D !important;
  padding: 0 0 0 0 !important;
  position: relative;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 30px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header nav .navbar-nav .nav-link {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 15px;
  }
}

header nav .navbar-nav .nav-link .icon {
  font-size: 25px;
}

header nav .navbar-nav .nav-link .home-icon::before {
  content: "\f423";
}

header nav .navbar-nav .nav-link .statistics-icon::before {
  content: "\f17e";
}

header nav .navbar-nav .nav-link .chat-icon::before {
  content: "\f267";
}

header nav .navbar-nav .nav-link .notification-icon::before {
  content: "\f18a";
}

header nav .navbar-nav .nav-link:hover {
  color: #40B4E5 !important;
}

header nav .navbar-nav .nav-link:hover:before {
  width: 20px;
}

header nav .navbar-nav .nav-link.active .icon {
  color: #40B4E5;
}

header nav .navbar-nav .nav-link.active .home-icon::before {
  content: "\f422";
}

header nav .navbar-nav .nav-link.active .statistics-icon::before {
  content: "\f17a";
}

header nav .navbar-nav .nav-link.active .chat-icon::before {
  content: "\f266";
}

header nav .navbar-nav .nav-link.active .notification-icon::before {
  content: "\f189";
}

header .logo {
  background: url("../images/logo@2x.png") no-repeat;
  width: 70px;
  height: 70px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-size: 70px 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header .logo {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
  }
}

header.header-scroll nav {
  padding: 5px 0 5px 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header.header-scroll nav {
    padding: 20px 0 20px 0;
  }
}

header.header-scroll .logo {
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
}

.user-dropdown {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 50px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .user-dropdown {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    position: absolute;
    right: 50px;
    top: 20px;
  }
}

.user-dropdown .dropdown-toggle:after {
  content: "\f282";
  font-family: "bootstrap-icons";
  position: absolute;
  border: 0;
  color: #3A2F2D;
  font-size: 12px;
  right: 22px;
  top: 28px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .user-dropdown .dropdown-toggle:after {
    right: 25px;
    top: 20px;
  }
}

.user-dropdown .dropdown-toggle .user-thumb-holder {
  padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.user-dropdown .dropdown-toggle .user-thumb-holder .user-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-dropdown .dropdown-toggle .user-thumb-holder .user-img img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .user-dropdown .dropdown-toggle .user-thumb-holder .user-img img {
    width: 30px;
    height: 30px;
  }
}

.user-dropdown .dropdown-toggle .user-thumb-holder:hover {
  background: rgba(0, 0, 0, 0.1);
}

.user-dropdown .dropdown-toggle .user-thumb-holder:active {
  background: #f3fbfd;
}

.user-dropdown .dropdown-toggle.show:after {
  content: "\f286";
  color: #40B4E5;
}

.user-dropdown .dropdown-toggle.show .user-thumb-holder {
  background: #f3fbfd;
}

.user-dropdown .dropdown-menu {
  border: 0;
  -webkit-box-shadow: 0px 3px 6px #0421331a;
          box-shadow: 0px 3px 6px #0421331a;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  right: -5px;
  left: initial !important;
  top: 60px !important;
  width: 175px;
  position: absolute;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .user-dropdown .dropdown-menu {
    top: 55px;
  }
}

.user-dropdown .dropdown-menu li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
}

.user-dropdown .dropdown-menu li:last-child {
  border-bottom: 0;
}

.user-dropdown .dropdown-menu .dropdown-item {
  position: relative;
  font-size: 16px;
  color: #565656;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

.user-dropdown .dropdown-menu .dropdown-item:hover {
  color: #3A2F2D;
}

.user-dropdown .dropdown-menu .dropdown-item:focus {
  color: #3A2F2D;
}

.user-dropdown .dropdown-menu .logout-link {
  color: #e67085;
}

.user-dropdown .dropdown-menu .logout-link:hover {
  background: rgba(230, 112, 133, 0.1);
  color: #e67085;
}

.icon-bar {
  width: 26px;
  height: 3px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  background-color: #40B4E5;
  display: block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 4px;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
  position: absolute;
  right: 25px;
  top: 33px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  /* Landscape phones and down */
}

.navbar-toggler:focus {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 768px) and (max-width: 979px) {
  .navbar-toggler {
    right: 20px;
    top: 16px;
  }
}

.navbar-toggler .top-bar {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
          transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
          transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

/* login signup wrap */
.login-signup-wrap {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .login-signup-wrap {
    display: inherit;
    overflow: hidden;
  }
}

.login-signup-wrap__bg {
  background: #2e2624;
  height: 100vh;
  width: 40%;
  left: 0;
  position: fixed;
  padding-top: 80px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .login-signup-wrap__bg {
    position: inherit;
    width: 100%;
    overflow: hidden;
  }
}

.login-signup-wrap__bg::before {
  background: url(../images/housekv@2x.png) no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 35%;
  left: 0;
  content: "";
  background-size: 100%;
  z-index: -1;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .login-signup-wrap__bg::before {
    top: 60%;
    z-index: 11;
    height: 325px;
  }
}

.login-signup-wrap__bg:after {
  background: url(../images/arrow.png) no-repeat;
  position: absolute;
  right: -50px;
  top: 0;
  content: "";
  right: -76px;
  top: -10px;
  content: "";
  width: 26.5%;
  height: 100%;
  background-size: 100%;
  z-index: -1;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .login-signup-wrap__bg:after {
    right: -71px;
    width: 33%;
  }
}

@media (max-width: 767px) {
  .login-signup-wrap__bg:after {
    background: none;
  }
}

.login-signup-wrap__bg .logo-holder {
  margin-top: 0;
  margin-right: 80px;
  margin-bottom: 30px;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  z-index: 2;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .login-signup-wrap__bg .logo-holder {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 50px;
    margin-left: 0;
  }
}

.login-signup-wrap__bg .caption-area {
  background: url(../images/path.svg) no-repeat top right;
  width: 100%;
  background-size: 80%;
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 0;
  padding-right: 30px;
  padding-bottom: 0;
  padding-left: 260px;
  position: relative;
  z-index: 2;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .login-signup-wrap__bg .caption-area {
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 0;
    padding-left: 190px;
    height: 180px;
  }
}

@media (max-width: 767px) {
  .login-signup-wrap__bg .caption-area {
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 60px;
    height: 150px;
    background-size: 100%;
  }
}

.login-signup-wrap__bg .caption-area__text {
  color: #fff;
  font-size: 35px;
  font-family: "tragic_markerregular";
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .login-signup-wrap__bg .caption-area__text {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .login-signup-wrap__bg .caption-area__text {
    font-size: 20px;
  }
}

.login-signup-wrap__bg .caption-area__link {
  color: yellow;
}

.login-signup-wrap__bg .layer {
  position: absolute !important;
  top: 0 !important;
  z-index: 1;
}

.login-signup-wrap__body {
  width: calc(100% - 40%);
  margin-left: 40%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .login-signup-wrap__body {
    width: 100%;
    margin-left: 0;
  }
}

.login-signup-wrap__body .form-group {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  position: relative;
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .login-signup-wrap__body .form-group {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

.login-signup-wrap__body .form-group .icon {
  position: absolute;
  left: 20px;
  display: block;
  z-index: 9;
  height: 25px;
  top: 11px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .login-signup-wrap__body .form-group .icon {
    left: 10px;
  }
}

.login-signup-wrap__body .form-group .icon .svg-icon {
  fill: #40B4E5;
}

.login-signup-wrap__body .form-control {
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 55px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .login-signup-wrap__body .form-control {
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 45px;
  }
}

.login-signup-wrap__body .login-wrap {
  padding-top: 0;
  padding-right: 300px;
  padding-bottom: 0;
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 130vh;
  background: #fff;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .login-signup-wrap__body .login-wrap {
    padding-top: 50px;
    padding-right: 200px;
    padding-bottom: 100px;
    padding-left: 100px;
  }
}

@media (max-width: 767px) {
  .login-signup-wrap__body .login-wrap {
    width: 100%;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .login-signup-wrap__body .login-wrap {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
  }
}

.login-signup-wrap__body .login-wrap h1 {
  font-size: 40px;
  color: #3A2F2D;
  font-weight: bold;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  font-family: "avertablack";
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .login-signup-wrap__body .login-wrap h1 {
    font-size: 35px;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .login-signup-wrap__body .login-wrap h1 {
    font-size: 35px;
    text-align: center;
  }
}

.login-signup-wrap__body .login-wrap p {
  font-size: 16px;
  color: #3A2F2D;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .login-signup-wrap__body .login-wrap p {
    text-align: center;
  }
}

.login-signup-wrap__body .conirmation-email-wrap {
  padding-top: 100px;
  padding-right: 300px;
  padding-bottom: 100px;
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  height: 100vh;
  background: #fff;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .login-signup-wrap__body .conirmation-email-wrap {
    padding-top: 50px;
    padding-right: 200px;
    padding-bottom: 100px;
    padding-left: 100px;
  }
}

@media (max-width: 767px) {
  .login-signup-wrap__body .conirmation-email-wrap {
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .login-signup-wrap__body .conirmation-email-wrap {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
  }
}

.login-signup-wrap__body .conirmation-email-wrap h3 {
  font-family: "avertabold";
  color: #3A2F2D;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}

.login-signup-wrap__body .conirmation-email-wrap p {
  font-size: 16px;
}

.svgContainer {
  width: 145px;
  height: 145px;
  margin-bottom: 40px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .svgContainer {
    margin: 0 auto 50px;
  }
}

.svgContainer .mySVG {
  width: 145px;
  height: 145px;
}

.star {
  display: block;
  background: url(../images/ic_diamond.svg) no-repeat;
  position: absolute;
  bottom: 30px;
  right: 40px;
  z-index: 99;
  width: 100px;
  height: 100px;
  background-size: 100%;
  -webkit-animation: mouseScroll 0.8s cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
  animation: mouseScroll 0.8s cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
}

@-webkit-keyframes mouseScroll {
  0% {
    bottom: 30px;
  }
  100% {
    bottom: 40px;
  }
}

.top-right-content .points-earned {
  height: 84px;
  background: rgba(83, 188, 231, 0.2);
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .top-right-content .points-earned {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

.top-right-content .points-earned .text-lg {
  font-family: "avertabold";
  font-size: 34px;
}

.top-right-content .points-earned .text-sm {
  font-size: 16px;
}

.top-right-content .tokens {
  height: 84px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .top-right-content .tokens {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

.top-right-content .tokens .text-sm {
  font-size: 16px;
  font-family: "avertabold";
  display: block;
}

.top-right-content .tokens.bg-1 {
  background: rgba(83, 188, 231, 0.2);
}

.top-right-content .tokens.bg-2 {
  background: #ffeed9;
}

.top-houses .title-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .top-houses .title-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.top-houses .title-head h3 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.top-houses .title-head h3 small {
  color: #687072;
  font-size: 12px;
  font-family: "avertaregular";
}

.top-houses .title-head a {
  color: #000;
  font-size: 12px;
  font-family: "avertabold";
}

.top-houses .title-head a:hover {
  color: #40B4E5;
}

.top-houses__group {
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  background: rgba(213, 222, 226, 0.5);
}

.top-houses__item {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  background: #fff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 3px;
  margin-left: 0;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* justify-content: space-between; */
}

.top-houses__item .badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

.top-houses__item .badge .badge-img {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
  width: 25px;
}

.top-houses__item .badge h4 {
  font-family: "avertabold";
  font-size: 16px;
  color: #000;
}

.top-houses__item .coins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
}

.top-houses__item .coins img {
  width: 20px;
  margin-top: 0;
  margin-right: 5px;
  margin-bottom: 0;
  margin-left: 0;
}

.top-houses__item .coins p {
  font-family: "avertabold";
  font-size: 16px;
}

.top-houses__item .icon {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  display: block;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background: #a2097d1a;
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top-houses__item .icon.icon-lion {
  background: rgba(255, 144, 22, 0.1);
}

.top-houses__item .icon.icon-buffalo {
  background: rgba(158, 162, 163, 0.1);
}

.top-houses__item .icon.icon-eagle {
  background: rgba(247, 227, 0, 0.1);
}

.top-houses__item .icon.icon-impala {
  background: rgba(168, 81, 71, 0.1);
}

.top-houses__item .icon.icon-leopard {
  background: rgba(0, 188, 180, 0.1);
}

.top-houses__item .icon.icon-elephant {
  background: rgba(162, 0, 125, 0.1);
}

.top-houses__item .icon.icon-cheetah {
  background: rgba(205, 151, 0, 0.1);
}

.top-houses__item .icon.icon-zebra {
  background: rgba(57, 47, 43, 0.1);
}

.top-houses__item .icon.icon-rhino {
  background: rgba(139, 131, 215, 0.1);
}

.top-houses__item .icon.icon-giraffe {
  background: rgba(56, 181, 230, 0.1);
}

.top-houses__item .icon.icon-ostrich {
  background: rgba(244, 197, 166, 0.1);
}

.top-houses__item .icon.icon-crocodile {
  background: rgba(119, 154, 11, 0.1);
}

.top-houses__item:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.star-player .title-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .star-player .title-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.star-player .title-head h3 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.star-player .title-head h3 small {
  color: #687072;
  font-size: 12px;
  font-family: "avertaregular";
}

.star-player .title-head a {
  color: #000;
  font-size: 12px;
  font-family: "avertabold";
}

.star-player .title-head a:hover {
  color: #40B4E5;
}

.star-player__card {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border: 1px solid #a2097d1a;
}

.star-player .head-content {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .star-player .head-content {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
}

.star-player .head-content__figure-holder {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 100%;
  position: relative;
  border: 2px solid #fff;
}

.star-player .head-content__figure-holder .user-img {
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.star-player .head-content__figure-holder .badge-img {
  position: absolute;
  width: 50%;
  height: auto;
  bottom: -15px;
  left: 10px;
}

.star-player .head-content__caption {
  width: 80%;
}

.star-player .head-content__caption .user-name {
  display: block;
  font-family: "avertabold";
  font-size: 16px;
  color: #000;
}

.star-player .head-content__caption span {
  color: #687072;
  display: block;
  font-size: 13px;
}

.star-player .head-content .icon {
  position: absolute;
  right: 15px;
  top: 15px;
  display: block;
}

.star-player .head-content .icon img {
  width: 40px;
}

.star-player .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #fff;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  background: #a2097d1a;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .star-player .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.star-player .footer-content__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.star-player .footer-content__lg-text {
  font-family: "avertabold";
  font-size: 18px;
  color: #687072;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

.star-player .footer-content__sm-text {
  font-size: 10px;
  color: #687072;
  text-transform: uppercase;
}

.open-challenges .head-content {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.open-challenges .head-content__thumb {
  background: #fff;
  width: 40px;
  height: 40px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.open-challenges .head-content a {
  color: #000;
  font-size: 16px;
  font-family: "avertabold";
}

.open-challenges .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .open-challenges .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.open-challenges .footer-content .sm-content {
  font-family: "avertabold";
  font-size: 12px;
  background: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 30px;
}

.open-challenges .footer-content .sm-content::before {
  position: absolute;
  left: 5px;
  content: "";
  width: 20px;
  height: 100%;
}

.open-challenges .footer-content .points {
  margin-top: 0;
  margin-right: 5px;
  margin-bottom: 0;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .open-challenges .footer-content .points {
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 0;
  }
}

.open-challenges .footer-content .points::before {
  background: url(../images/diamond.svg) no-repeat;
  background-size: 100%;
}

.open-challenges .footer-content .coins {
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .open-challenges .footer-content .coins {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
  }
}

.open-challenges .footer-content .coins::before {
  background: url(../images/coin-star.svg) no-repeat;
  background-size: 100%;
}

.open-challenges .card-pink {
  background: transparent linear-gradient(339deg, #f46981 0%, #ff9bad 100%) 0% 0% no-repeat padding-box;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .open-challenges .card-pink {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

.open-challenges .card-blue {
  background: transparent linear-gradient(345deg, #23d0cb 0%, #70efeb 100%) 0% 0% no-repeat padding-box;
}

.leaderboard-wrap .nav-tabs {
  border: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}

.leaderboard-wrap .nav-tabs .nav-link {
  border: 0;
  color: #a1aaad;
  font-size: 16px;
  font-family: "avertabold";
  text-transform: capitalize;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 0;
  margin-left: 0;
}

.leaderboard-wrap .nav-tabs .nav-link:hover {
  color: #000;
}

.leaderboard-wrap .nav-tabs .nav-link.active {
  color: #000;
}

.leaderboard-wrap .filter-row {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}

.leaderboard-wrap .leaderboard-content {
  background: rgba(213, 222, 226, 0.5);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
}

.leaderboard-wrap .leaderboard-content header {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 94px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .leaderboard-wrap .leaderboard-content header {
    display: none;
  }
}

.leaderboard-wrap .leaderboard-content header h4 {
  font-size: 13px;
  color: #3A2F2D;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .leaderboard-wrap .leaderboard-content header h4 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.leaderboard-wrap .leaderboard-content header h4:nth-of-type(1) {
  width: 35%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .leaderboard-wrap .leaderboard-content header h4:nth-of-type(1) {
    width: 100%;
    text-align: center;
  }
}

.leaderboard-wrap .leaderboard-content header h4:nth-of-type(2), .leaderboard-wrap .leaderboard-content header h4:nth-of-type(3), .leaderboard-wrap .leaderboard-content header h4:nth-of-type(4) {
  width: 15%;
  text-align: center;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .leaderboard-wrap .leaderboard-content header h4:nth-of-type(2), .leaderboard-wrap .leaderboard-content header h4:nth-of-type(3), .leaderboard-wrap .leaderboard-content header h4:nth-of-type(4) {
    width: 100%;
  }
}

.leaderboard-wrap .leaderboard-content header h4:nth-of-type(5) {
  width: 20%;
  text-align: center;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .leaderboard-wrap .leaderboard-content header h4:nth-of-type(5) {
    width: 100%;
  }
}

.leaderboard-wrap .leaderboard-content .list-group {
  counter-reset: section;
}

.leaderboard-wrap .leaderboard-content .list-group__item {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 12px;
  padding-left: 50px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 3px;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #fff;
  position: relative;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

.leaderboard-wrap .leaderboard-content .list-group__item:before {
  counter-increment: section;
  content: "" counter(section) "";
  color: #000;
  font-size: 13px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  text-align: center;
  width: 24px;
  height: 24px;
  line-height: 24px;
  background: rgba(161, 170, 173, 0.2);
  position: absolute;
  left: 10px;
}

@media (max-width: 767px) {
  .leaderboard-wrap .leaderboard-content .list-group__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.leaderboard-wrap .leaderboard-content .list-group__item .player-info {
  width: 40%;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .leaderboard-wrap .leaderboard-content .list-group__item .player-info {
    width: 100%;
  }
}

.leaderboard-wrap .leaderboard-content .list-group__item .player-info .player-thumb {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

.leaderboard-wrap .leaderboard-content .list-group__item .player-info .player-name {
  display: inline-block;
  font-size: 15px;
  font-family: "avertabold";
  color: #3A2F2D;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .leaderboard-wrap .leaderboard-content .list-group__item .player-info .player-name {
    width: 100%;
    text-align: center;
  }
}

.leaderboard-wrap .leaderboard-content .list-group__item p {
  font-size: 15px;
  text-align: center;
  width: 15%;
  color: #3f1912;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .leaderboard-wrap .leaderboard-content .list-group__item p {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .leaderboard-wrap .leaderboard-content .list-group__item .text-left {
    text-align: center !important;
    margin-bottom: 20px;
  }
}

.leaderboard-wrap .leaderboard-content .list-group__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.leaderboard-wrap .leaderboard-content .list-group__item:hover P {
  color: #40B4E5;
}

.leaderboard-wrap .leaderboard-content .list-group__item:hover .player-name {
  color: #40B4E5;
}

.leaderboard-wrap .leaderboard-content .list-group__item:hover .point-text {
  color: #40B4E5;
}

.leaderboard-wrap .leaderboard-content .list-group__item:nth-of-type(1):after, .leaderboard-wrap .leaderboard-content .list-group__item:nth-of-type(2):after, .leaderboard-wrap .leaderboard-content .list-group__item:nth-of-type(3):after {
  width: 100px;
  height: 100%;
  position: absolute;
  left: 9px;
  content: "";
  top: 7px;
}

.leaderboard-wrap .leaderboard-content .list-group__item:nth-of-type(1):after {
  background: url(../images/badge-1.png) no-repeat;
  background-size: 30%;
}

.leaderboard-wrap .leaderboard-content .list-group__item:nth-of-type(2):after {
  background: url(../images/badge-2.png) no-repeat;
  background-size: 30%;
}

.leaderboard-wrap .leaderboard-content .list-group__item:nth-of-type(3):after {
  background: url(../images/badge-3.png) no-repeat;
  background-size: 30%;
}

.total-badges-wrap .total-badges {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.total-badges-wrap .total-badges__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}

.total-badges-wrap .total-badges__item p {
  color: #3A2F2D;
  font-family: "avertabold";
  font-size: 14px;
}

.total-badges-wrap .total-badges__item.bg-light-green {
  background: #e5f7f2;
}

.total-badges-wrap .total-badges__item.bg-light-blue {
  background: #eeefff;
}

.see-all-link {
  color: #3A2F2D;
  font-size: 14px;
  text-align: right;
  display: block;
  font-family: "avertabold";
}

.see-all-link:hover {
  color: #40B4E5;
}

.user-info {
  height: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.user-info .setting-button {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #afbbc6;
  display: block;
}

.user-info .setting-button:hover {
  color: #3A2F2D;
}

.user-info__figure-holder {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 80px;
  position: relative;
}

.user-info__figure-holder .user-img {
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.user-info__figure-holder .badge-img {
  position: absolute;
  right: -12px;
  top: 7px;
  width: 44%;
  height: auto;
}

.user-info__caption .user-name {
  color: #000;
  font-size: 18px;
  font-family: "avertabold";
}

.user-info__caption span {
  color: #687072;
  font-size: 13px;
  display: block;
}

.user-info__status {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: block;
  width: 12px;
  height: 12px;
  border: 2px solid #ffffff;
  position: absolute;
  right: 10px;
  bottom: 0;
}

.user-info--status-away {
  background: #ffad5c;
}

.user-info--status-online {
  background: #40c286;
}

.user-info .available-dropdown {
  background: rgba(64, 194, 135, 0.2);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-size: 14px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.house {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 80px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border: 1px solid #e3e5e6;
  /* &__figure-holder {
        @include border-radius(5px);
        @include margin(0, 15px, 0, 0);
        @include flex-center;
        @include padding(5px, 5px, 5px, 5px);
        background: $white-color;
        width: 60px;
        height: 60px;
        position: relative;
        img {
            width: 100%;
        }
    } */
}

.house__caption .user-name {
  color: #000;
  font-size: 16px;
  font-family: "avertabold";
}

.house__caption span {
  color: #687072;
  font-size: 13px;
  display: block;
}

.house.house-lion {
  background: rgba(255, 144, 22, 0.1) url(../images/house-icons/lion.svg) no-repeat;
  background-position: 10px;
  background-size: 15%;
}

.house.house-buffalo {
  background: rgba(158, 162, 163, 0.1) url(../images/house-icons/buffalo.svg) no-repeat;
  background-position: 10px;
  background-size: 15%;
}

.house.house-eagle {
  background: rgba(247, 227, 0, 0.1) url(../images/house-icons/eagle.svg) no-repeat;
  background-position: 10px;
  background-size: 15%;
}

.house.house-impala {
  background: rgba(168, 81, 71, 0.1) url(../images/house-icons/impala.svg) no-repeat;
  background-position: 10px;
  background-size: 15%;
}

.house.house-leopard {
  background: rgba(0, 188, 180, 0.1) url(../images/house-icons/leopard.svg) no-repeat;
  background-position: 10px;
  background-size: 15%;
}

.house.house-elephant {
  background: rgba(162, 0, 125, 0.1) url(../images/house-icons/elephant.svg) no-repeat;
  background-position: 10px;
  background-size: 15%;
}

.house.house-cheetah {
  background: rgba(205, 151, 0, 0.1) url(../images/house-icons/cheetah.svg) no-repeat;
  background-position: 10px;
  background-size: 15%;
}

.house.house-zebra {
  background: rgba(57, 47, 43, 0.1) url(../images/house-icons/zebra.svg) no-repeat;
  background-position: 10px;
  background-size: 15%;
}

.house.house-rhino {
  background: rgba(139, 131, 215, 0.1) url(../images/house-icons/rhino.svg) no-repeat;
  background-position: 10px;
  background-size: 15%;
}

.house.house-giraffe {
  background: rgba(56, 181, 230, 0.1) url(../images/house-icons/giraffe.svg) no-repeat;
  background-position: 10px;
  background-size: 15%;
}

.house.house-ostrich {
  background: rgba(244, 197, 166, 0.1) url(../images/house-icons/ostrich.svg) no-repeat;
  background-position: 10px;
  background-size: 15%;
}

.house.house-crocodile {
  background: rgba(119, 154, 11, 0.1) url(../images/house-icons/crocodile.svg) no-repeat;
  background-position: 10px;
  background-size: 15%;
}

.achievements__card {
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.achievements__card figure {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
  width: 45px;
  height: 100%;
}

.achievements__card figure img {
  width: 100%;
}

.achievements__card figcaption h5 {
  font-size: 16px;
  font-family: "avertabold";
}

.achievements__card figcaption p {
  font-size: 16px;
}

.achievements__card figcaption span {
  font-size: 14px;
}

.achievements__card.bg-light-purple {
  background: #e8e9ec;
}

.achievements__card.bg-light-pink {
  background: #fff6e7;
}

.msger {
  width: 100%;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  background: #61b2e01a;
  border: 1px solid #81cfff34;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .msger {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

.msger .msger-chat {
  padding-top: 0;
  padding-right: 30px;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  height: 450px;
  overflow-y: auto;
}

.msger .msger-chat::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.msger .msger-chat::-webkit-scrollbar-thumb {
  background: #40B4E5;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

.msger .msger-chat::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

.msger .msger-chat {
  scrollbar-face-color: #40B4E5;
  scrollbar-track-color: rgba(0, 0, 0, 0.2);
}

.msger .msger-chat .msg {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}

.msger .msger-chat .msg .msg-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.msger .msger-chat .msg .msg-img {
  width: 32px;
  height: 32px;
  overflow: hidden;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
  background: #ddd;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 2px solid #ffffff;
}

.msger .msger-chat .msg .msg-img img {
  width: 100%;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
}

.msger .msger-chat .msg .msg-info {
  font-size: 10px;
  color: #afbbc6;
}

.msger .msger-chat .msg.left-msg .msg-img {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

.msger .msger-chat .msg.left-msg .msg-text {
  color: #7b8793;
  font-size: 16px;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0px 1px 2px #aacfe63e;
          box-shadow: 0px 1px 2px #aacfe63e;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  border-radius: 10px 10px 10px 0px;
  -webkit-border-radius: 10px 10px 10px 0px;
  -moz-border-radius: 10px 10px 10px 0px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .msger .msger-chat .msg.left-msg .msg-text {
    font-size: 14px;
  }
}

.msger .msger-chat .msg.left-msg .msg-bubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 90%;
}

.msger .msger-chat .msg.left-msg .msg-info {
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 45px;
}

.msger .msger-chat .msg.right-msg {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.msger .msger-chat .msg.right-msg .msg-body {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.msger .msger-chat .msg.right-msg .msg-img {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 10px;
}

.msger .msger-chat .msg.right-msg .msg-bubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: 90%;
}

.msger .msger-chat .msg.right-msg .msg-text {
  color: #fff;
  font-size: 16px;
  position: relative;
  background: #40b4e5;
  position: relative;
  border-radius: 10px 2px 10px 10px;
  -webkit-border-radius: 10px 2px 10px 10px;
  -moz-border-radius: 10px 2px 10px 10px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  text-align: right;
}

.msger .msger-chat .msg.right-msg .msg-info {
  padding-top: 0;
  padding-right: 40px;
  padding-bottom: 0;
  padding-left: 10px;
  text-align: right;
}

.msger .msger-inputarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #fff;
  border: 1px solid #40B4E5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: 60px;
}

.msger .msger-inputarea .msger-input {
  background: none;
  font-size: 15px;
  color: #565656;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 20px;
  width: 85%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .msger .msger-inputarea .msger-input {
    font-size: 14px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 10px;
  }
}

.msger .msger-inputarea .msger-input.placeholder {
  color: #a3a4a5;
}

.msger .msger-inputarea .msger-input:-moz-placeholder {
  color: #a3a4a5;
}

.msger .msger-inputarea .msger-input::-moz-placeholder {
  color: #a3a4a5;
}

.msger .msger-inputarea .msger-input:-ms-input-placeholder {
  color: #a3a4a5;
}

.msger .msger-inputarea .msger-input::-webkit-input-placeholder {
  color: #a3a4a5;
}

.msger .msger-inputarea .bi::before {
  font-size: 25px;
}

.msger .msger-inputarea .msger-send-btn {
  background: #40c286;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

.msger .msger-inputarea .msger-send-btn:hover {
  background: #40B4E5;
}

.houselion-members .accordion .accordion-item {
  border: 0;
}

.houselion-members .accordion .accordion-header {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;
}

.houselion-members .accordion .accordion-header .accordion-button {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  font-family: "avertabold";
  font-size: 18px;
  color: #3A2F2D;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
  /*  &:not(.collapsed) {
                    &:after {
                       
                    }
                }
                &.collapsed {
                    &:after {
                       
                    }
                } */
}

.houselion-members .accordion .accordion-header .accordion-button span {
  color: #a1aaad;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 10px;
}

.houselion-members .accordion .accordion-header .accordion-button::after {
  color: #3A2F2D;
  width: 15px;
  height: 15px;
  background-size: 15px !important;
  background: url(../images/chevron-down.svg) no-repeat;
}

.houselion-members .member-card {
  border: 1px solid #ffad5c33;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.houselion-members .member-card__figure-holder {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  position: relative;
}

.houselion-members .member-card__figure-holder img {
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.houselion-members .member-card__status {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid #ffffff;
  position: absolute;
  right: 0;
  bottom: 0;
}

.houselion-members .member-card--status-away {
  background: #ffad5c;
}

.houselion-members .member-card--status-online {
  background: #40c286;
}

.houselion-members .member-card__name {
  font-size: 14px;
  color: #4b5155;
  font-family: "avertabold";
}

.houselion-members .member-card__sm-text {
  font-size: 12px;
  color: #a1aaad;
}

.houselion-members .member-card__sm-text small.away-text {
  color: #ffad5c;
}

.houselion-members .member-card__sm-text small.online-text {
  color: #40c286;
}

.houselion-members .member-card:hover {
  background: #ffad5c33;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-left {
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
}

.profile-left .nav .nav-item {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
}

.profile-left .nav .nav-item .nav-link {
  color: #3A2F2D;
  font-size: 14px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding-top: 12px;
  padding-right: 0;
  padding-bottom: 12px;
  padding-left: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.profile-left .nav .nav-item .nav-link.inactive-link {
  color: rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
}

.profile-left .nav .nav-item .nav-link.logout-link {
  color: #e67085;
}

.profile-left .nav .nav-item .nav-link.logout-link:hover {
  background: rgba(230, 112, 133, 0.1);
  color: #e67085;
}

.profile-left .nav .nav-item .nav-link:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #3A2F2D;
  padding-top: 12px;
  padding-right: 0;
  padding-bottom: 12px;
  padding-left: 30px;
}

.profile-left .nav .nav-item .nav-link.active {
  background: #40B4E5;
  color: #fff;
}

.total-badges-wrap .achievement-badges {
  -ms-grid-columns: 24% 24% 24% 24%;
      grid-template-columns: 24% 24% 24% 24%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .total-badges-wrap .achievement-badges {
    -ms-grid-columns: 49% 49%;
        grid-template-columns: 49% 49%;
  }
}

.user-info-fill {
  background: #d7dee240;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;
  position: relative;
}

.user-info-fill label {
  font-size: 16px;
  color: #687072 !important;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
}

.user-info-fill .form-control {
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 30px;
  font-size: 14px;
  font-family: "avertabold";
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.user-info-fill p {
  font-size: 16px;
  color: #000;
  font-family: "avertabold";
}

.user-info-fill .name-input {
  display: none;
}

.user-info-fill .edit-icon-name {
  position: absolute;
  right: 10px;
  top: 10px;
}

.podium-badges .leaderboard-content header {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
}

.podium-badges .leaderboard-content header h4:nth-of-type(2), .podium-badges .leaderboard-content header h4:nth-of-type(3), .podium-badges .leaderboard-content header h4:nth-of-type(4) {
  width: 23%;
  text-align: center;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .podium-badges .leaderboard-content header h4:nth-of-type(2), .podium-badges .leaderboard-content header h4:nth-of-type(3), .podium-badges .leaderboard-content header h4:nth-of-type(4) {
    width: 100%;
  }
}

.podium-badges .leaderboard-content .list-group__item p {
  width: 25%;
}

.avatar-wrapper-outer {
  margin: 0 auto;
  position: relative;
  width: 215px;
}

.avatar-wrapper-outer .avatar-wrapper {
  position: relative;
  width: 215px;
  height: 215px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #eff2f4;
}

.avatar-wrapper-outer .avatar-wrapper:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.avatar-wrapper-outer .avatar-wrapper .profile-pic {
  width: 220px;
  height: 220px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  left: -2px;
  top: -2px;
}

.avatar-wrapper-outer .avatar-wrapper .profile-pic:after {
  content: "";
  background: url(../images/lion-greyscale.jpg) no-repeat;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  position: absolute;
  background-size: 100%;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: translateY(13%);
          transform: translateY(13%);
}

.avatar-wrapper-outer .upload-button {
  position: absolute;
  bottom: -20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #000;
  color: #fff;
  cursor: pointer;
  width: 160px;
  text-align: center;
  padding-top: 5px;
  padding-right: 0;
  padding-bottom: 5px;
  padding-left: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.fun-facts-wrap .card {
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fun-facts-wrap .card.bg-light-pink {
  background: #eb6e591a;
  border: 0;
}

.fun-facts-wrap .card.bg-blue {
  background: rgba(0, 186, 180, 0.1);
  border: 0;
}

.fun-facts-wrap .card.bg-light-blue {
  background: rgba(58, 132, 250, 0.1);
  border: 0;
}

.fun-facts-wrap .card.bg-purple {
  background: rgba(162, 9, 125, 0.1);
  border: 0;
}

.fun-facts-wrap .card__figure-holder {
  width: 64px;
  height: 64px;
  background: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 0;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fun-facts-wrap .card__figure-holder img {
  width: 100%;
}

.fun-facts-wrap .card__caption {
  width: 80%;
}

.fun-facts-wrap .card__caption .text-light {
  font-size: 16px;
  color: #687072 !important;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
}

.fun-facts-wrap .card__caption .text-dark {
  font-size: 16px;
  color: #000;
  font-family: "avertabold";
}

.fun-facts-wrap .card__caption .form-control {
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 30px;
  font-size: 14px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.change-password__body .form-group-wrap {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}

.change-password__body .form-group-wrap label {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

.change-password__body .form-group {
  position: relative;
}

.change-password__body .form-group .icon {
  position: absolute;
  left: 20px;
  display: block;
  z-index: 9;
  height: 25px;
  top: 16px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .change-password__body .form-group .icon {
    left: 10px;
  }
}

.change-password__body .form-group .icon .bi:before {
  color: #40B4E5;
  font-size: 22px;
}

.change-password__body .form-control {
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 55px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .change-password__body .form-control {
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 45px;
  }
}

.change-password__body input[type="submit"]:hover {
  color: #3A2F2D !important;
}

.change-password__body input[type="submit"]:disabled {
  cursor: not-allowed;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
}

.switch-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #d7dee240;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.switch-container .switch {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: 0;
  position: relative;
  width: 32px;
  height: 16px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  background: #7b858f;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

.switch-container .switch:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 2px;
  left: 2px;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

.switch-container .switch:checked {
  background: #40B4E5;
}

.switch-container .switch:disabled {
  opacity: 0.5;
}

.switch-container .switch:checked:after {
  -webkit-transform: translateX(16px);
          transform: translateX(16px);
}

.switch-container .mode-text {
  color: #000;
  font-family: "avertabold";
  font-size: 14px;
}

/* .darkmode {
    background: #2f2b2a;

    .navbar {
        background: rgba($white-color, 0.1);
        box-shadow: 0px 3px 6px #4C5C5B1A;
        .nav-link{
            color: $white-color !important;
        }
    }
    .custom-card {
        background: rgba($white-color, 0.1);
        border: 0;
        h3 {
            color: $white-color;
        }
    }
}
 */
.notification-cont {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}

.notification-cont .date {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;
  display: block;
  color: #a1aaad;
  font-size: 12px;
}

.notification-cont .custom-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .notification-cont .custom-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.notification-cont .custom-card .figure-holder {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
  /* Landscape phones and down */
  width: 55px;
}

@media (max-width: 767px) {
  .notification-cont .custom-card .figure-holder {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.notification-cont .custom-card .figure-holder img {
  width: 100%;
}

.notification-cont .custom-card .lg-text {
  font-family: "avertabold";
  font-size: 34px;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .notification-cont .custom-card .lg-text {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.notification-cont .custom-card .caption {
  padding-top: 0;
  padding-right: 50px;
  padding-bottom: 0;
  padding-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .notification-cont .custom-card .caption {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}

.notification-cont .custom-card .caption .detail {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
  font-size: 14px;
  color: #687072;
  /* Landscape phones and down */
}

.notification-cont .custom-card .caption .detail strong {
  color: #000;
}

@media (max-width: 767px) {
  .notification-cont .custom-card .caption .detail {
    text-align: center;
  }
}

.notification-cont .custom-card .caption .date {
  color: #a1aaad;
  font-size: 12px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .notification-cont .custom-card .caption .date {
    text-align: center;
  }
}

.notification-cont .custom-card .token-text {
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 0;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .notification-cont .custom-card .token-text {
    margin: auto;
  }
}

.notification-cont .custom-card .token-text .text-1 {
  font-size: 12px;
  color: #a1aaad;
  text-transform: uppercase;
  text-align: right;
  display: block;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

.notification-cont .custom-card .token-text .text-2 {
  font-size: 34px;
  color: #a1aaad;
}

.notification-cont .custom-card .view-link {
  color: #40B4E5;
  font-family: "avertabold";
  font-size: 14px;
  margin-left: auto;
  /* Landscape phones and down */
}

.notification-cont .custom-card .view-link:hover {
  color: #3A2F2D;
}

@media (max-width: 767px) {
  .notification-cont .custom-card .view-link {
    margin: auto;
  }
}

.notification-cont .custom-card:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

body {
  font-family: "avertaregular";
  color: #312b2b;
}

a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}

.wow {
  visibility: hidden;
}

/* Landscape phones and down */
@media (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
  .column-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .row-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

main {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  main {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}

.section-title-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}

.section-title-head h2 {
  font-family: "avertabold";
  font-size: 20px;
  color: #3A2F2D;
}

.custom-card {
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border: 1px solid #e3e5e6;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .custom-card {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  .custom-card {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
}

.custom-card h3 {
  font-family: "avertabold";
  font-size: 18px;
  color: #3A2F2D;
  text-transform: capitalize;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;
}

.bg-white {
  background: #fff;
}

.bg-light-blue {
  background: #61b2e01a;
}

.bg-light-pink {
  background: #fc65511a;
}

.bg-light-grey {
  background: rgba(0, 0, 0, 0.04) !important;
}

.text-bold {
  font-family: "avertabold";
}

.text-white {
  color: #fff;
}

.text-black {
  color: #3A2F2D;
}

.text-blue {
  color: #40B4E5;
}

.main-container {
  padding-top: 120px;
  padding-right: 0;
  padding-bottom: 100px;
  padding-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .main-container {
    padding-top: 110px;
    padding-right: 0;
    padding-bottom: 30px;
    padding-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .main-container {
    padding-top: 130px;
    padding-right: 0;
    padding-bottom: 30px;
    padding-left: 0;
  }
}

.modal .btn-close {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 10;
}

.modal .modal-content {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-box-shadow: 0px 10px 20px #020e1480;
          box-shadow: 0px 10px 20px #020e1480;
  border: 0;
}

.modal .modal-content .modal-body {
  padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-left: 40px;
}

.alert-dismissible .btn-close {
  -webkit-box-shadow: none;
          box-shadow: none;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
}

#confetti-holder {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 500px;
}

#congratulation-modal .modal-content {
  overflow: hidden;
}

#congratulation-modal .bg-light-rorating-wrap {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
}

#congratulation-modal .bg-light-rorating-wrap .figure-holder {
  position: relative;
}

#congratulation-modal .bg-light-rorating-wrap .rorating-img {
  -webkit-animation: rotation 8s infinite linear;
}

#congratulation-modal .bg-light-rorating-wrap .img-badge {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999;
  width: 60%;
}

#congratulation-modal .bg-light-rorating-wrap .badge {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: normal;
  background-size: 100% !important;
  width: 100%;
  padding: 16px 0;
}

#congratulation-modal .bg-light-rorating-wrap .badge .text-lg {
  font-family: "avertabold";
  font-size: 20px;
}

#congratulation-modal .bg-light-rorating-wrap .badge .text-sm {
  font-size: 10px;
  text-transform: uppercase;
}

#congratulation-modal .bg-light-rorating-wrap .badge-yellow {
  background: url(../images/badge-yellow.png) no-repeat;
}

#congratulation-modal .bg-light-rorating-wrap .badge-purple {
  background: url(../images/badge-purple.png) no-repeat;
}

#congratulation-modal .bg-light-rorating-wrap .badge-blue {
  background: url(../images/badge-blue.png) no-repeat;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

.list-group {
  counter-reset: section;
}

.list-group__item {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 12px;
  padding-left: 35px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 3px;
  margin-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-group__item:before {
  counter-increment: section;
  content: "" counter(section) "";
  color: #000;
  font-size: 14px;
  position: absolute;
  left: 10px;
  font-family: "avertabold";
}

.list-group__item p {
  font-size: 15px;
  color: #3f1912;
}

.list-group__item .form-control {
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 40px;
  font-size: 14px;
  max-width: 250px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}
/*# sourceMappingURL=style-en.css.map */