/* @import "vendor/font-awesome-4.7.0/font-awesome"; */

@import "base/reset", "base/typography";

@import "partials/variables", "partials/layout", "partials/mixins";

@import "components/ui-elements";

@import "layout/header";

@import "pages/login-signup", "pages/homepage", "pages/chat", "pages/profile", "pages/dark-mode", "pages/notifications";
body {
  font-family: $font-primary;
  color: #312b2b;
}
h1,
h2,
h3 {
}
a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}
.wow {
  visibility: hidden;
}

@include breakpoint(sm) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
  .column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .row-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
}

main {
  @include padding(0, 0, 0, 0);

  @include breakpoint(sm) {
    @include padding(0, 0, 0, 0);
  }
}

.section-title-head {
  @include flex-center-vert;
  justify-content: space-between;
  @include margin(0, 0, 20px, 0);

  h2 {
    font-family: $font-secondary;
    font-size: 20px;
    color: $brand-color;
  }
}

.custom-card {
  @include border-radius(12px);
  border: 1px solid #e3e5e6;
  @include padding(25px, 25px, 25px, 25px);
  @include breakpoint(lp) {
    @include padding(20px, 20px, 20px, 20px);
  }
  @include breakpoint(sm) {
    @include padding(15px, 15px, 15px, 15px);
  }
  h3 {
    font-family: $font-secondary;
    font-size: 18px;
    color: $brand-color;
    text-transform: capitalize;
    @include margin(0, 0, 15px, 0);
  }
}

.bg-white {
  background: $white-color;
}
.bg-light-blue {
  background: #61b2e01a;
}
.bg-light-pink {
  background: #fc65511a;
}
.bg-light-grey {
  background: rgba($black-color, 0.04) !important;
}
.text-bold {
  font-family: $font-secondary;
}
.text-white {
  color: $white-color;
}
.text-black {
  color: $brand-color;
}
.text-blue {
  color: $brand-second-color;
}
.main-container {
  @include padding(120px, 0, 100px, 0);

  @include breakpoint(sm) {
    @include padding(110px, 0, 30px, 0);
  }
  @include breakpoint(md) {
    @include padding(130px, 0, 30px, 0);
  }
}

.modal {
  .btn-close {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 10;
  }
  .modal-content {
    @include border-radius(15px);
    box-shadow: 0px 10px 20px #020e1480;
    border: 0;
    .modal-body {
      @include padding(50px, 40px, 50px, 40px);
    }
  }
}

.alert-dismissible{
  .btn-close{
    box-shadow: none;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }
}
#confetti-holder {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 500px;
}

#congratulation-modal {
  .modal-content {
    overflow: hidden;
  }
  .bg-light-rorating-wrap {
    @include margin(0, 0, 50px, 0);
    .figure-holder {
      position: relative;
    }
    .rorating-img {
      -webkit-animation: rotation 8s infinite linear;
    }
    .img-badge {
      @include center(both);
      z-index: 999;
      width: 60%;
    }
    .badge {
      color: $white-color;
      @include flex-center-column;
      font-weight: normal;
      background-size: 100% !important;
      width: 100%;
      padding: 16px 0;
      .text-lg {
        font-family: $font-secondary;
        font-size: 20px;
      }
      .text-sm {
        font-size: 10px;
        text-transform: uppercase;

      }
    }
    .badge-yellow {
      background: url(../images/badge-yellow.png) no-repeat;
    }
    .badge-purple {
      background: url(../images/badge-purple.png)  no-repeat;
    }
    .badge-blue {
      background: url(../images/badge-blue.png)  no-repeat;
    }

    @-webkit-keyframes rotation {
      from {
        -webkit-transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(359deg);
      }
    }
  }
}



.list-group {
  counter-reset: section;
  &__item {
      @include padding(12px, 10px, 12px, 35px);
      @include margin(0, 0, 3px, 0);
      @include transition();
      position: relative;
      display: flex;
      &:before {
          counter-increment: section;
          content: "" counter(section) "";
          color: $black-color;
          font-size: 14px;
          position: absolute;
          left: 10px;
          font-family: $font-secondary;
      }
      p {
          font-size: 15px;
          color: $dark-brown-shade-3;
      }
      .form-control {
        border: 1px solid $border-grey-color;
        height: 40px;
        font-size: 14px;
        max-width: 250px;
        @include padding(5px, 10px, 5px, 10px);
    }
  }
}