header {
    nav {
        &.navbar {
            background-color: $white-color;
            box-shadow: 0px 3px 6px #4c5c5b1a;
            padding: 10px 0 10px 0;
            width: 100%;
            @include transition();

            
        }
        .navbar-nav {
            margin-left: auto !important;
            @include flex-center-vert;
            @include margin(0, 0, 0, 0);

            @include breakpoint(sm) {
                flex-direction: row;
                justify-content: space-around;
                @include padding(30px, 0, 0, 0);
            }
            .notification-link {
                position: relative;
                .notification-alert {
                    display: block;
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    right: 0;
                    top: 10px;
                    background: #d82e34;
                    @include border-radius(50%);
                    border: 2px solid $white-color;
                }
            }
            .nav-link {
                font-size: 20px;
                text-transform: capitalize;
                color: $brand-color !important;
                padding: 0 0 0 0 !important;
                position: relative;
                @include margin(0, 0, 0, 30px);

                @include breakpoint(sm) {
                    @include margin(0, 0, 0, 15px);
                }
                .icon {
                    font-size: 25px;
                }
                .home-icon {
                    &::before {
                        content: "\f423";
                    }
                }
                .statistics-icon {
                    &::before {
                        content: "\f17e";
                    }
                }
                .chat-icon {
                    &::before {
                        content: "\f267";
                    }
                }
                .notification-icon {
                    &::before {
                        content: "\f18a";
                    }
                }

                &:hover {
                    color: $brand-second-color !important;
                    &:before {
                        width: 20px;
                    }
                }
                &.active {
                    .icon {
                        color: $brand-second-color;
                    }
                    .home-icon {
                        &::before {
                            content: "\f422";
                        }
                    }
                    .statistics-icon {
                        &::before {
                            content: "\f17a";
                        }
                    }
                    .chat-icon {
                        &::before {
                            content: "\f266";
                        }
                    }
                    .notification-icon {
                        &::before {
                            content: "\f189";
                        }
                    }
                }
            }
        }
    }

    .logo {
        background: url("../images/logo@2x.png") no-repeat;
        width: 70px;
        height: 70px;
        display: inline-flex;
        background-size: 70px 70px;
        align-items: center;
        white-space: nowrap;
        @include padding(0, 0, 0, 0);

        @include breakpoint(sm) {
            width: 50px;
            height: 50px;
            background-size: 50px 50px;
        }
    }
}

header.header-scroll {
    nav {
        padding: 5px 0 5px 0;

        @include breakpoint(sm) {
            padding: 20px 0 20px 0;
        }
    }
    .logo {
        width: 50px;
        height: 50px;
        background-size: 50px 50px;
    }
}

.user-dropdown {
    @include margin(0, 0, 0, 50px);
    @include breakpoint(sm) {
        @include margin(0, 0, 0, 0);
        position: absolute;
        right: 50px;
        top: 20px;
    }
    .dropdown-toggle {
        &:after {
            content: "\f282";
            font-family: "bootstrap-icons";
            position: absolute;
            border: 0;
            color: $brand-color;
            font-size: 12px;
            right: 22px;
            top: 28px;

            @include breakpoint(sm) {
                right: 25px;
                top: 20px;
            }
        }
        .user-thumb-holder {
            @include padding(5px, 30px, 5px, 10px);
            @include border-radius(8px);
            @include transition;
            .user-img {
                @include flex-center;
                img {
                    width: 45px;
                    height: 45px;
                    @include border-radius(50%);

                    @include breakpoint(sm) {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            &:hover {
                background: $border-grey-color;
            }
            &:active {
                background: #f3fbfd;
            }
        }
    }
    .dropdown-toggle {
        &.show {
            &:after {
                content: "\f286";
                color: $brand-second-color;
            }
            .user-thumb-holder {
                background: #f3fbfd;
            }
        }
    }
    .dropdown-menu {
        border: 0;
        box-shadow: 0px 3px 6px #0421331a;
        @include border-radius(8px);
        @include padding(10px, 10px, 10px, 10px);
        right: -5px;
        left: initial !important;
        top: 60px !important;
        width: 175px;
        position: absolute;

        @include breakpoint(sm) {
            top: 55px;
        }
        li {
            border-bottom: 1px solid $border-grey-color;
            @include margin(0, 0, 5px, 0);
            &:last-child {
                border-bottom: 0;
            }
        }
        .dropdown-item {
            position: relative;
            font-size: 16px;
            color: $dark-grey-color;
            @include padding(5px, 15px, 5px, 15px);
            @include margin(0, 0, 5px, 0);
            @include border-radius(6px);

            &:hover {
                color: $brand-color;
            }
            &:focus {
                color: $brand-color;
            }
        }
        .logout-link {
            color: #e67085;
            &:hover {
                background: rgba(#e67085, 0.1);
                color: #e67085;
            }
        }
    }
}

.icon-bar {
    width: 26px;
    height: 3px;
    @include border-radius(50px);
    background-color: $brand-second-color;
    display: block;
    @include transition;
    margin-top: 4px;
}
.navbar-toggler {
    border: none;
    background: transparent !important;
    position: absolute;
    right: 25px;
    top: 33px;
    @include padding(0, 0, 0, 0);

    &:focus {
        background: none;
        box-shadow: none;
    }

    @include breakpoint(md) {
        right: 20px;
        top: 16px;
    }

    .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }
    .middle-bar {
        opacity: 0;
    }
    .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }
    &.collapsed {
        .top-bar {
            transform: rotate(0);
        }
        .middle-bar {
            opacity: 1;
        }
        .bottom-bar {
            transform: rotate(0);
        }
    }
}
