.button-wrap {
  padding: 12px 30px;
  font-size: 16px;
  cursor: pointer;
  border: 0;
  display: inline-block;
  text-align: center;
  color: $white-color;
  position: relative;
  @include transition();
  @include border-radius(5px);
  font-family: $font-secondary;

  &:hover {
    @include button-hover();
  }
}

.button-md {
  padding: 5px 15px;
}

/* Button outline */
.button-outline {
  &:after {
    z-index: -1;
    height: 0;
    left: 0;
    top: 0;
    width: 100%;
    @include pseudo;
    @include transition();
  }
  &:hover {
    color: #fff;
    &:after {
      height: 100%;
    }
  }
}

.button-outline-primary {
  border: 1px solid $brand-second-color;
  color: $brand-second-color;
  &:after {
    background: $brand-second-color;
  }
}

.button-outline-grey {
  border: 1px solid #d5dee3;
  color: $brand-color;
  &:after {
    background: #d5dee3;
  }
  &:hover {
    color: $brand-color;
  }
}
.button-outline-dark {
  border: 1px solid $brand-color;
  color: $brand-color;
  &:after {
    background: $brand-color;
  }
}

/* Button fill */
.button-fill {
  color: white;
  overflow: hidden;
  &:after {
    z-index: -1;
    height: 0;
    left: 0;
    top: 0;
    width: 100%;
    @include pseudo;
    @include transition();
  }
  &:hover {
    color: $brand-color;
    &:after {
      height: 100%;
    }
  }
}

.button-fill-primary {
  background: $brand-second-color;
  border: 1px solid $brand-second-color;
  &:after {
    background: $white-color;
  }
  &:hover {
    color: $brand-second-color;
  }
}
.button-fill-dark {
  background: $brand-color;
  border: 1px solid $brand-color;
  &:after {
    background: $white-color;
  }
}
.button-fill-grey {
  background: #d5dee3;
  border: 1px solid #d5dee3;
  &:after {
    background: $white-color;
  }
}

.bouncein:hover:before,
.bouncein:hover:after {
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66) !important;
}

.form-control {
  @include border-radius(5px);
  height: 55px;
  font-size: 16px;
  border: 1px solid black(0.1);
  /*  @include transition(); */
  @include input-placeholder {
    color: black(0.3);
  }
  &:focus {
    box-shadow: none;
    /* @include input-hover; */
    border: 1px solid $brand-second-color;
    background: #fafdff;
  }
}

%bubble-message {
  @include card-shadow;
  @include border-radius(20px);
  @include padding(30px, 30px, 30px, 30px);
  @include margin(0, 0, 30px, 0);
  @include flex-center-vert;

  svg {
    @include margin(0, 10px, 0, 0);
  }
}
.bubble-message-white {
  background: $white-color;
  @extend %bubble-message;
  color: $dark-brown-shade-3;
}
.bubble-message-success {
  background: green;
  @extend %bubble-message;
  color: $white-color;
}
.bubble-message-error {
  background: red;
  @extend %bubble-message;
  color: $white-color;
}
.bubble-message-info {
  background: yellow;
  @extend %bubble-message;
  color: $dark-brown-shade-3;
}

/* custom checkboxes and radio */
.radios,
.checkboxes {
  @include margin(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  label {
    cursor: pointer;
    line-height: 1rem;
  }
  @mixin vh() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  input[type="checkbox"],
  input[type="radio"] {
    @include vh();
    &:focus {
      + label {
        &:before {
        }
      }
    }
    + label {
      position: relative;
      @include padding(2px, 0, 0, 30px);
      @include margin(0, 0, 0, 0);
      user-select: none;
      color: $light-grey-color;
      font-size: 16px;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid $border-grey-color;
        @include border-radius(3px);
        background: $white-color;
        text-align: center;
        @include transition();
      }
      &:after {
        content: "";
        position: absolute;
        transform: scale(0);
        transition: transform 200ms ease-out;
      }
    }
  }

  input[type="checkbox"] {
    + label {
      &:after {
        background-color: transparent;
        content: "";
        display: block;
        position: absolute;
        left: 8px;
        top: 5px;
        width: 5px;
        height: 9px;
        opacity: 0;
        border-bottom: 2px solid $white-color;
        border-right: 2px solid $white-color;
        @include transform(rotate(45deg));
        transition: border-color 0.3s ease;
      }
    }
    &:checked {
      + label {
        &:before {
          content: "";
          background: $brand-color;
          border: 1px solid $brand-color;
        }

        &:after {
          content: "";
          opacity: 1;
        }
      }
    }
  }

  input[type="radio"] {
    + label {
      &:before,
      &:after {
        @include border-radius(50%);
      }
      &:after {
        left: 6px;
        top: 6px;
        width: 8px;
        height: 8px;
      }
    }
    &:checked {
      + label {
        &:before {
          animation: borderscale 300ms ease-in;
        }
        &:after {
          background: $brand-color;
          @include transform(scale(1));
        }
      }
    }
  }
}


.custom-dropdown-outline {
  background: none;
  @include border-radius(5px);
  height: 35px;
  line-height: 33px;
  border: 1px solid $brand-color;
  color: $black-color;
  select{
    background: none;
    width: 95%;
    font-size: 14px;
    padding: 0 10px;
  }
}
.custom-dropdown-fill {
  background: $black-color;
  @include border-radius(5px);
  height: 35px;
  line-height: 33px;
 
  select{
    background: none;
    width: 95%;
    font-size: 14px;
    padding: 0 10px;
    color: #fff;
    option{
      color: #000;
    }
  }
}
.custom-dropdown-fill-purple {
  background: #a2097d;
}
.custom-dropdown-fill-black {
  background: $black-color;
}
