.msger {
    width: 100%;
    @include padding(40px, 40px, 40px, 40px);
    @include border-radius(12px);
    background: #61b2e01a;
    border: 1px solid #81cfff34;

    @include breakpoint(sm) {
        @include padding(20px, 20px, 20px, 20px);
    }

    .msger-chat {
        @include padding(0, 30px, 0, 0);
        @include margin(0, 0, 50px, 0);
        height: 450px;
        overflow-y: auto;
        @include scrollbars(5px, $brand-second-color, $light-grey-color);
        .msg {
            @include margin(0, 0, 30px, 0);
            .msg-body {
                display: flex;
                width: 100%;
            }
            .msg-img {
                width: 32px;
                height: 32px;
                overflow: hidden;
                @include margin(0, 20px, 0, 0);
                background: #ddd;
                @include border-radius(50%);
                border: 2px solid #ffffff;
                img {
                    width: 100%;
                    @include margin(0, 20px, 0, 0);
                }
            }
            .msg-info {
                font-size: 10px;
                color: #afbbc6;
            }
            &.left-msg {
                .msg-img {
                    @include margin(0, 10px, 0, 0);
                }
                .msg-text {
                    color: #7b8793;
                    font-size: 16px;
                    background: $white-color;
                    position: relative;
                    box-shadow: 0px 1px 2px #aacfe63e;
                    @include margin(0, 0, 10px, 0);
                    @include border-radius(10px 10px 10px 0px);
                    @include padding(20px, 20px, 20px, 20px);

                    @include breakpoint(sm) {
                        font-size: 14px;
                    }
                }
                .msg-bubble {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    width: 90%;
                }
                .msg-info {
                    @include padding(0, 10px, 0, 45px);
                }
            }
            &.right-msg {
                flex-direction: row-reverse;
                .msg-body {
                    flex-direction: row-reverse;
                }
                .msg-img {
                    @include margin(0, 0, 0, 10px);
                }
                .msg-bubble {
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    width: 90%;
                }
                .msg-text {
                    color: $white-color;
                    font-size: 16px;
                    position: relative;
                    background: #40b4e5;
                    position: relative;
                    @include border-radius(10px 2px 10px 10px);
                    @include padding(20px, 20px, 20px, 20px);
                    @include margin(0, 0, 10px, 0);
                    text-align: right;
                }
                .msg-info {
                    @include padding(0, 40px, 0, 10px);
                    text-align: right;
                }
            }
        }
    }

    .msger-inputarea {
        display: flex;
        width: 100%;
        @include padding(10px, 10px, 10px, 5px);
        @include border-radius(5px);
        background-color: $white-color;
        border: 1px solid $brand-second-color;
        justify-content: space-between;
        position: relative;
        height: 60px;
        .msger-input {
            background: none;
            font-size: 15px;
            color: $dark-grey-color;
            @include padding(0, 0, 0, 20px);
            width: 85%;
            @include breakpoint(sm) {
                font-size: 14px;
                @include padding(0, 0, 0, 10px);
            }
            @include input-placeholder {
                color: #a3a4a5;
            }
        }
        .bi {
            &::before {
                font-size: 25px;
            }
        }
        .msger-send-btn {
            background: #40c286;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
            height: 40px;
            width: 40px;
            @include flex-center;
            @include border-radius(50px);

            &:hover {
                background: $brand-second-color;
            }
        }
    }
}

.houselion-members {
    .accordion {
        .accordion-item {
            border: 0;
        }
        .accordion-header {
            @include margin(0, 0, 15px, 0);

            .accordion-button {
                @include padding(0, 0, 0, 0);
                font-family: $font-secondary;
                font-size: 18px;
                color: $brand-color;
                box-shadow: none;
                background: none;
                span {
                    color: #a1aaad;
                    @include margin(0, 0, 0, 10px);
                }
                &::after {
                    color: $brand-color;
                    width: 15px;
                    height: 15px;
                    background-size: 15px !important;
                    background: url(../images/chevron-down.svg) no-repeat;
                }
                /*  &:not(.collapsed) {
                    &:after {
                       
                    }
                }
                &.collapsed {
                    &:after {
                       
                    }
                } */
            }
        }
    }

    .member-card {
        border: 1px solid #ffad5c33;
        @include border-radius(6px);
        @include margin(0, 0, 10px, 0);
        @include padding(10px, 10px, 10px, 10px);
        @include flex-center-vert;
        @include transition();

        &__figure-holder {
            @include border-radius(50%);
            @include margin(0, 10px, 0, 0);
            @include flex-center;
            width: 32px;
            height: 32px;
            position: relative;

            img {
                width: 100%;
                @include border-radius(50%);
            }
        }
        &__status {
            @include border-radius(50%);
            display: block;
            width: 10px;
            height: 10px;
            border: 2px solid #ffffff;
            position: absolute;
            right: 0;
            bottom: 0;
        }
        &--status-away {
            background: #ffad5c;
        }
        &--status-online {
            background: #40c286;
        }
        &__name {
            font-size: 14px;
            color: #4b5155;
            font-family: $font-secondary;
        }
        &__sm-text {
            font-size: 12px;
            color: #a1aaad;
            small {
                &.away-text {
                    color: #ffad5c;
                }
                &.online-text {
                    color: #40c286;
                }
            }
        }
        &:hover {
            background: #ffad5c33;
            transform: scale(1.05);
            @include card-shadow;
        }
    }
}
