/* .darkmode {
    background: #2f2b2a;

    .navbar {
        background: rgba($white-color, 0.1);
        box-shadow: 0px 3px 6px #4C5C5B1A;
        .nav-link{
            color: $white-color !important;
        }
    }
    .custom-card {
        background: rgba($white-color, 0.1);
        border: 0;
        h3 {
            color: $white-color;
        }
    }
}
 */