.top-right-content {
    .points-earned {
        height: 84px;
        background: rgba(#53bce7, 0.2);
        @include padding(20px, 20px, 20px, 20px);
        @include border-radius(12px);
        @include flex-center-vert;
        justify-content: space-between;
        color: $black-color;

        @include breakpoint(sm) {
            @include margin(0, 0, 20px, 0);
        }

        .text-lg {
            font-family: $font-secondary;
            font-size: 34px;
        }
        .text-sm {
            font-size: 16px;
        }
    }
    .tokens {
        height: 84px;
        @include padding(20px, 20px, 20px, 20px);
        @include border-radius(12px);
        @include flex-center-vert;
        justify-content: space-between;
        color: $black-color;
        @include breakpoint(sm) {
            @include margin(0, 0, 20px, 0);
        }
        .text-sm {
            font-size: 16px;
            font-family: $font-secondary;
            display: block;
        }
        &.bg-1 {
            background: rgba(#53bce7, 0.2);
        }
        &.bg-2 {
            background: #ffeed9;
        }
    }
}

.top-houses {
    .title-head {
        @include flex-center-vert;
        justify-content: space-between;
        @include margin(0, 0, 20px, 0);

        @include breakpoint(sm) {
            flex-direction: column;
            align-items: flex-start;
        }

        h3 {
            @include margin(0, 0, 0, 0);
            small {
                color: #687072;
                font-size: 12px;
                font-family: $font-primary;
            }
        }
        a {
            color: $black-color;
            font-size: 12px;
            font-family: $font-secondary;
            &:hover {
                color: $brand-second-color;
            }
        }
    }

    &__group {
        @include padding(3px, 3px, 3px, 3px);
        @include border-radius(8px);
        background: rgba(#d5dee2, 0.5);
    }
    &__item {
        @include padding(10px, 10px, 10px, 5px);
        background: $white-color;
        @include border-radius(6px);
        @include margin(0, 0, 3px, 0);
        height: 48px;
        @include flex-center-vert;
        @include transition();
        /* justify-content: space-between; */

        .badge {
            @include flex-center-vert;
            width: 45%;
            .badge-img {
                @include margin(0, 10px, 0, 0);
                width: 25px;
            }

            h4 {
                font-family: $font-secondary;
                font-size: 16px;
                color: $black-color;
            }
        }
        .coins {
            display: flex;
            width: 45%;
            img {
                width: 20px;
                @include margin(0, 5px, 0, 0);
            }
            p {
                font-family: $font-secondary;
                font-size: 16px;
            }
        }
        .icon {
            @include border-radius(5px);
            display: block;
            @include padding(5px, 5px, 5px, 5px);
            background: #a2097d1a;
            width: 36px;
            height: 36px;
            display: flex;
            justify-content: flex-end;

            &.icon-lion{
                background: rgba(#ff9016, 0.1);  
            }
            &.icon-buffalo{
                background: rgba(#9ea2a3, 0.1);  
            }
            &.icon-eagle{
                background: rgba(#f7e300, 0.1);  
            }
            &.icon-impala{
                background: rgba(#a85147, 0.1);  
            }
            &.icon-leopard{
                background: rgba(#00bcb4, 0.1);  
            }
            &.icon-elephant{
                background: rgba(#a2007d, 0.1);  
            }
            &.icon-cheetah{
                background: rgba(#cd9700, 0.1);  
            }
            &.icon-zebra{
                background: rgba(#392f2b, 0.1);  
            }
            &.icon-rhino{
                background: rgba(#8b83d7, 0.1);  
            }
            &.icon-giraffe{
                background: rgba(#38b5e6, 0.1);  
            }
            &.icon-ostrich{
                background: rgba(#f4c5a6, 0.1);  
            }
            &.icon-crocodile{
                background: rgba(#779a0b, 0.1);  
            }

        }
        &:hover {
            @include card-shadow;
            transform: scale(1.05);
        }
    }
}
.star-player {
    .title-head {
        @include flex-center-vert;
        justify-content: space-between;
        @include margin(0, 0, 20px, 0);

        @include breakpoint(sm) {
            flex-direction: column;
            align-items: flex-start;
        }

        h3 {
            @include margin(0, 0, 0, 0);
            small {
                color: #687072;
                font-size: 12px;
                font-family: $font-primary;
            }
        }
        a {
            color: $black-color;
            font-size: 12px;
            font-family: $font-secondary;
            &:hover {
                color: $brand-second-color;
            }
        }
    }
    &__card {
        @include border-radius(8px);
        border: 1px solid #a2097d1a;
    }
    .head-content {
        @include padding(20px, 20px, 20px, 20px);
        @include flex-center-vert;
        position: relative;

        @include breakpoint(sm) {
            @include padding(15px, 15px, 15px, 15px);
        }

        &__figure-holder {
            @include border-radius(50%);
            @include margin(0, 20px, 0, 0);
            @include flex-center;
            width: 100px;
            height: 100%;
            position: relative;
            border: 2px solid $white-color;
            .user-img {
                width: 100%;
                @include border-radius(50%);
            }
            .badge-img {
                position: absolute;
                width: 50%;
                height: auto;
                bottom: -15px;
                left: 10px;
            }
        }

        &__caption {
            width: 80%;
            .user-name {
                display: block;
                font-family: $font-secondary;
                font-size: 16px;
                color: $black-color;
            }
            span {
                color: #687072;
                display: block;
                font-size: 13px;
            }
        }
        .icon {
            position: absolute;
            right: 15px;
            top: 15px;
            display: block;
            img {
                width: 40px;
            }
        }
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $white-color;
        @include padding(10px, 20px, 10px, 20px);
        background: #a2097d1a;

        @include breakpoint(sm) {
            flex-direction: column;
        }

        &__col {
            @include flex-center-vert;
        }
        &__lg-text {
            font-family: $font-secondary;
            font-size: 18px;
            color: #687072;
            @include margin(0, 10px, 0, 0);
        }
        &__sm-text {
            font-size: 10px;
            color: #687072;
            text-transform: uppercase;
        }
    }
}

.open-challenges {
    .head-content {
        @include margin(0, 0, 20px, 0);
        @include flex-center-vert;
        &__thumb {
            background: $white-color;
            width: 40px;
            height: 40px;
            @include padding(5px, 5px, 5px, 5px);
            @include margin(0, 10px, 0, 0);
            @include border-radius(6px);
            @include flex-center;
        }
        a {
            color: $black-color;
            font-size: 16px;
            font-family: $font-secondary;
        }
    }
    .footer-content {
        display: flex;
        justify-content: space-between;

        @include breakpoint(sm) {
            flex-direction: column;
        }

        .sm-content {
            font-family: $font-secondary;
            font-size: 12px;
            background: $white-color;
            @include border-radius(4px);
            display: flex;
            position: relative;
            @include padding(5px, 10px, 5px, 30px);
            &::before {
                position: absolute;
                left: 5px;
                content: "";
                width: 20px;
                height: 100%;
            }
        }
        .points {
            @include margin(0, 5px, 0, 0);

            @include breakpoint(sm) {
                @include margin(0, 5px, 10px, 0);
            }

            &::before {
                background: url(../images/diamond.svg) no-repeat;
                background-size: 100%;
            }
        }
        .coins {
            @include breakpoint(sm) {
                @include margin(0, 0, 10px, 0);
            }
            &::before {
                background: url(../images/coin-star.svg) no-repeat;
                background-size: 100%;
            }
        }
    }
    .card-pink {
        background: transparent linear-gradient(339deg, #f46981 0%, #ff9bad 100%) 0% 0% no-repeat padding-box;

        @include breakpoint(sm) {
            @include margin(0, 0, 30px, 0);
        }
    }
    .card-blue {
        background: transparent linear-gradient(345deg, #23d0cb 0%, #70efeb 100%) 0% 0% no-repeat padding-box;
    }
}

.leaderboard-wrap {
    .nav-tabs {
        border: 0;
        @include margin(0, 0, 20px, 0);
        .nav-link {
            border: 0;
            color: #a1aaad;
            font-size: 16px;
            font-family: $font-secondary;
            text-transform: capitalize;
            @include padding(0, 0, 0, 0);
            @include margin(0, 30px, 0, 0);
            &:hover {
                color: $black-color;
            }
            &.active {
                color: $black-color;
            }
        }
    }

    .filter-row {
        @include margin(0, 0, 20px, 0);
    }

    .leaderboard-content {
        background: rgba(#d5dee2, 0.5);
        @include border-radius(6px);
        @include padding(3px, 3px, 3px, 3px);
        header {
            @include padding(10px, 10px, 10px, 94px);
            @include margin(0, 0, 0, 0);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            @include breakpoint(sm) {
                display: none;
            }

            h4 {
                font-size: 13px;
                color: $brand-color;
                @include breakpoint(sm) {
                    @include margin(0, 0, 0, 0);
                }

                &:nth-of-type(1) {
                    width: 35%;

                    @include breakpoint(sm) {
                        width: 100%;
                        text-align: center;
                    }
                }
                &:nth-of-type(2),
                &:nth-of-type(3),
                &:nth-of-type(4) {
                    width: 15%;
                    text-align: center;
                    @include breakpoint(sm) {
                        width: 100%;
                    }
                }
                &:nth-of-type(5) {
                    width: 20%;
                    text-align: center;
                    @include breakpoint(sm) {
                        width: 100%;
                    }
                }
            }
        }

        .list-group {
            counter-reset: section;
            &__item {
                @include padding(12px, 10px, 12px, 50px);
                @include margin(0, 0, 3px, 0);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                transform: scale(1);
                @include transition();
                @include border-radius(5px);
                background: $white-color;
                position: relative;
                &:before {
                    counter-increment: section;
                    content: "" counter(section) "";
                    color: $black-color;
                    font-size: 13px;
                    @include border-radius(50%);
                    text-align: center;
                    width: 24px;
                    height: 24px;
                    line-height: 24px;
                    background: rgba(#a1aaad, 0.2);
                    position: absolute;
                    left: 10px;
                }

                @include breakpoint(sm) {
                    flex-direction: column;
                }
                .player-info {
                    width: 40%;
                    height: 32px;
                    @include flex-center-vert;
                    @include breakpoint(sm) {
                        width: 100%;
                    }

                    .player-thumb {
                        width: 32px;
                        height: 32px;
                        @include border-radius(50%);
                        @include margin(0, 10px, 0, 0);
                    }
                    .player-name {
                        display: inline-block;
                        font-size: 15px;
                        font-family: $font-secondary;
                        color: $brand-color;
                        @include breakpoint(sm) {
                            width: 100%;
                            text-align: center;
                        }
                    }
                }

                p {
                    font-size: 15px;
                    text-align: center;
                    width: 15%;
                    color: $dark-brown-shade-3;
                    @include breakpoint(sm) {
                        width: 100%;
                    }
                }
                @include breakpoint(sm) {
                    .text-left {
                        text-align: center !important;
                        margin-bottom: 20px;
                    }
                }

                &:hover {
                    transform: scale(1.05);
                    @include card-shadow;
                    P {
                        color: $brand-second-color;
                    }
                    .player-name {
                        color: $brand-second-color;
                    }
                    .point-text {
                        color: $brand-second-color;
                    }
                }
                &:nth-of-type(1),
                &:nth-of-type(2),
                &:nth-of-type(3) {
                    &:after {
                        width: 100px;
                        height: 100%;
                        position: absolute;
                        left: 9px;
                        content: "";
                        top: 7px;
                    }
                }
                &:nth-of-type(1) {
                    &:after {
                        background: url(../images/badge-1.png) no-repeat;
                        background-size: 30%;
                    }
                }
                &:nth-of-type(2) {
                    &:after {
                        background: url(../images/badge-2.png) no-repeat;
                        background-size: 30%;
                    }
                }
                &:nth-of-type(3) {
                    &:after {
                        background: url(../images/badge-3.png) no-repeat;
                        background-size: 30%;
                    }
                }
            }
        }
    }
}

.total-badges-wrap {
    .total-badges {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 50% 50%;

        &__item {
            width: 100%;
            @include flex-center-column;
            @include padding(10px, 10px, 10px, 10px);
            @include border-radius(12px);

            p {
                color: $brand-color;
                font-family: $font-secondary;
                font-size: 14px;
            }
            &.bg-light-green {
                background: #e5f7f2;
            }
            &.bg-light-blue {
                background: #eeefff;
            }
        }
    }
}

.see-all-link {
    color: $brand-color;
    font-size: 14px;
    text-align: right;
    display: block;
    font-family: $font-secondary;
    &:hover {
        color: $brand-second-color;
    }
}
.user-info {
    height: 134px;
    @include flex-center-vert;
    position: relative;

    .setting-button {
        position: absolute;
        right: 15px;
        top: 10px;
        color: #afbbc6;
        display: block;

        &:hover {
            color: $brand-color;
        }
    }

    &__figure-holder {
        @include border-radius(50%);
        @include margin(0, 20px, 0, 0);
        @include flex-center;
        width: 80px;
        height: 80px;
        position: relative;
        .user-img {
            width: 100%;
            @include border-radius(50%);
        }
        .badge-img {
            position: absolute;
            right: -12px;
            top: 7px;
            width: 44%;
            height: auto;
        }
    }
    &__caption {
        .user-name {
            color: $black-color;
            font-size: 18px;
            font-family: $font-secondary;
        }
        span {
            color: #687072;
            font-size: 13px;
            display: block;
        }
    }
    &__status {
        @include border-radius(50%);
        display: block;
        width: 12px;
        height: 12px;
        border: 2px solid #ffffff;
        position: absolute;
        right: 10px;
        bottom: 0;
    }
    &--status-away {
        background: #ffad5c;
    }
    &--status-online {
        background: #40c286;
    }
    .available-dropdown {
        background: rgba(#40c287, 0.2);
        @include border-radius(5px);
        font-size: 14px;
        @include padding(5px, 10px, 5px, 10px);
    }
}

.house {
    @include flex-center-vert;
    @include padding(15px, 10px, 15px, 80px);
    @include border-radius(12px);
    border: 1px solid #e3e5e6;


    /* &__figure-holder {
        @include border-radius(5px);
        @include margin(0, 15px, 0, 0);
        @include flex-center;
        @include padding(5px, 5px, 5px, 5px);
        background: $white-color;
        width: 60px;
        height: 60px;
        position: relative;
        img {
            width: 100%;
        }
    } */
    &__caption {
        .user-name {
            color: $black-color;
            font-size: 16px;
            font-family: $font-secondary;
        }
        span {
            color: #687072;
            font-size: 13px;
            display: block;
        }
    }
    &.house-lion{
        background:rgba(#ff9016, 0.1) url(../images/house-icons/lion.svg) no-repeat;
        background-position: 10px;
        background-size: 15%;
    }
    &.house-buffalo{
        background:rgba(#9ea2a3, 0.1) url(../images/house-icons/buffalo.svg) no-repeat;
        background-position: 10px;
        background-size: 15%;
    }
    &.house-eagle{
        background:rgba(#f7e300, 0.1) url(../images/house-icons/eagle.svg) no-repeat;
        background-position: 10px;
        background-size: 15%;
    }
    &.house-impala{
        background:rgba(#a85147, 0.1) url(../images/house-icons/impala.svg) no-repeat;
        background-position: 10px;
        background-size: 15%;
    }
    &.house-leopard{
        background:rgba(#00bcb4, 0.1) url(../images/house-icons/leopard.svg) no-repeat;
        background-position: 10px;
        background-size: 15%;
    }
    &.house-elephant{
        background:rgba(#a2007d, 0.1) url(../images/house-icons/elephant.svg) no-repeat;
        background-position: 10px;
        background-size: 15%;
    }
    &.house-cheetah{
        background:rgba(#cd9700, 0.1) url(../images/house-icons/cheetah.svg) no-repeat;
        background-position: 10px;
        background-size: 15%; 
    }
    &.house-zebra{
        background:rgba(#392f2b, 0.1) url(../images/house-icons/zebra.svg) no-repeat;
        background-position: 10px;
        background-size: 15%; 
    }
    &.house-rhino{
        background:rgba(#8b83d7, 0.1) url(../images/house-icons/rhino.svg) no-repeat;
        background-position: 10px;
        background-size: 15%; 
    }
    &.house-giraffe{
        background:rgba(#38b5e6, 0.1) url(../images/house-icons/giraffe.svg) no-repeat;
        background-position: 10px;
        background-size: 15%; 
    }
    &.house-ostrich{
        background:rgba(#f4c5a6, 0.1) url(../images/house-icons/ostrich.svg) no-repeat;
        background-position: 10px;
        background-size: 15%;
    }
    &.house-crocodile{
        background:rgba(#779a0b, 0.1) url(../images/house-icons/crocodile.svg) no-repeat;
        background-position: 10px;
        background-size: 15%;
    }
}

.achievements {
    &__card {
        @include border-radius(12px);
        @include padding(10px, 10px, 10px, 10px);
        display: flex;

        figure {
            @include margin(0, 10px, 0, 0);
            width: 45px;
            height: 100%;
            img {
                width: 100%;
            }
        }
        figcaption {
            h5 {
                font-size: 16px;
                font-family: $font-secondary;
            }
            p {
                font-size: 16px;
            }
            span {
                font-size: 14px;
            }
        }

        &.bg-light-purple {
            background: #e8e9ec;
        }
        &.bg-light-pink {
            background: #fff6e7;
        }
    }
}
