/* login signup wrap */
.login-signup-wrap {
    position: relative;
    height: 100%;
    width: 100%;

    display: flex;

    @include breakpoint(sm) {
        display: inherit;
        overflow: hidden;
    }

    &__bg {
        background: #2e2624;
        height: 100vh;
        width: 40%;
        left: 0;
        position: fixed;

        @include padding(80px, 0, 0, 0);

        @include breakpoint(sm) {
            position: inherit;
            width: 100%;
            overflow: hidden;
        }
        &::before {
            background: url(../images/housekv@2x.png) no-repeat;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 35%;
            left: 0;
            content: "";
            background-size: 100%;
            z-index: -1;

            @include breakpoint(sm) {
                top: 60%;
                z-index: 11;
                height: 325px;
            }
        }
        &:after {
            background: url(../images/arrow.png) no-repeat;
            position: absolute;
            right: -50px;
            top: 0;
            content: "";
            right: -76px;
            top: -10px;
            content: "";
            width: 26.5%;
            height: 100%;
            background-size: 100%;
            z-index: -1;
            @include breakpoint(lp) {
                right: -71px;
                width: 33%;
            }
            @include breakpoint(sm) {
                background: none;
            }
        }
        .logo-holder {
            @include margin(0, 80px, 30px, 0);
            display: flex;
            justify-content: flex-end;
            position: relative;
            z-index: 2;

            @include breakpoint(sm) {
                justify-content: center;
                @include margin(0, 0, 50px, 0);
            }
        }
        .caption-area {
            background: url(../images/path.svg) no-repeat top right;
            width: 100%;
            background-size: 80%;
            height: 230px;
            @include flex-center-vert-column;
            @include padding(0, 30px, 0, 260px);
            position: relative;
            z-index: 2;

            @include breakpoint(lp) {
                @include padding(0, 30px, 0, 190px);
                height: 180px;
            }

            @include breakpoint(sm) {
                @include padding(0, 10px, 0, 60px);
                height: 150px;
                background-size: 100%;
            }

            &__text {
                color: $white-color;
                font-size: 35px;
                font-family: "tragic_markerregular";

                @include breakpoint(lp) {
                    font-size: 22px;
                }
                @include breakpoint(sm) {
                    font-size: 20px;
                }
            }
            &__link {
                color: yellow;
            }
        }

        .layer {
            position: absolute !important;
            top: 0 !important;
            z-index: 1;
        }
    }
    &__body {
        width: calc(100% - 40%);
        margin-left: 40%;

        @include breakpoint(sm) {
            width: 100%;
            margin-left: 0;
        }

        .form-group {
            @include margin(0, 0, 30px, 0);
            position: relative;

            @include breakpoint(lp) {
                @include margin(0, 0, 20px, 0);
            }

            .icon {
                position: absolute;
                left: 20px;
                display: block;
                z-index: 9;
                height: 25px;
                top: 11px;
                @include breakpoint(sm) {
                    left: 10px;
                }
                .svg-icon {
                    fill: $brand-second-color;
                }
            }
        }
        .form-control {
            @include padding(0, 10px, 0, 55px);
            @include breakpoint(sm) {
                @include padding(0, 10px, 0, 45px);
            }
        }

        .login-wrap {
            @include padding(0, 300px, 0, 100px);
            @include flex-center-vert-column;
            height: 130vh;
            background: $white-color;

            @include breakpoint(lp) {
                @include padding(50px, 200px, 100px, 100px);
            }

            @include breakpoint(sm) {
                width: 100%;
                @include padding(50px, 30px, 50px, 30px);
                height: auto;
            }
            @include breakpoint(md) {
                @include padding(50px, 30px, 50px, 30px);
            }
            h1 {
                font-size: 40px;
                color: $brand-color;
                font-weight: bold;
                @include margin(0, 0, 30px, 0);
                font-family: $font-avertablack;

                @include breakpoint(sm) {
                    font-size: 35px;
                    text-align: center;
                }
                @include breakpoint(md) {
                    font-size: 35px;
                    text-align: center;
                }
            }
            p {
                font-size: 16px;
                color: $brand-color;

                @include breakpoint(sm) {
                    text-align: center;
                }
            }
        }
        .conirmation-email-wrap {
            @include padding(100px, 300px, 100px, 100px);
            @include flex-center-vert-column;
            overflow: hidden;
            height: 100vh;
            background: $white-color;

            @include breakpoint(lp) {
                @include padding(50px, 200px, 100px, 100px);
            }

            @include breakpoint(sm) {
                width: 100%;
                height: auto;
                @include padding(50px, 30px, 50px, 30px);
                justify-content: center;
                align-items: center;
            }
            @include breakpoint(md) {
                @include padding(50px, 30px, 50px, 30px);
            }
            h3 {
                font-family: $font-secondary;
                color: $brand-color;
                @include margin(0, 0, 30px, 0);
            }
            p {
                font-size: 16px;
            }
        }
    }
}

.svgContainer {
    width: 145px;
    height: 145px;
    margin-bottom: 40px;

    @include breakpoint(sm) {
        margin: 0 auto 50px;
    }

    .mySVG {
        width: 145px;
        height: 145px;
    }
}

.star {
    display: block;
    background: url(../images/ic_diamond.svg) no-repeat;
    position: absolute;
    bottom: 30px;
    right: 40px;
    z-index: 99;
    width: 100px;
    height: 100px;
    background-size: 100%;
    -webkit-animation: mouseScroll 0.8s cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
    animation: mouseScroll 0.8s cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
}

@-webkit-keyframes mouseScroll {
    0% {
        bottom: 30px;
    }
    100% {
        bottom: 40px;
    }
}
