.notification-cont {
    @include margin(0, 0, 30px, 0);
    .date {
        @include margin(0, 0, 15px, 0);
        display: block;
        color: #a1aaad;
        font-size: 12px;
    }
    .custom-card {
        @include flex-center-vert;
        @include transition;
        @include margin(0, 0, 15px, 0);

        @include breakpoint(sm) {
            flex-direction: column;
            justify-content: center;
        }

        .figure-holder {
            @include padding(10px, 10px, 10px, 10px);
            @include margin(0, 20px, 0, 0);

            @include breakpoint(sm) {
                @include margin(0, 0, 0, 0);
            }
            width: 55px;
            img {
                width: 100%;
            }
        }
        .lg-text {
            font-family: $font-secondary;
            font-size: 34px;
            @include margin(0, 20px, 0, 0);

            @include breakpoint(sm) {
                @include margin(0, 0, 0, 0);
            }
        }
        .caption {
            @include padding(0, 50px, 0, 0);

            @include breakpoint(sm) {
                @include padding(0, 0, 0, 0);
            }

            .detail {
                @include margin(0, 0, 5px, 0);
                font-size: 14px;
                color: #687072;
                strong {
                    color: $black-color;
                }
                @include breakpoint(sm) {
                    text-align: center;
                }
            }
            .date {
                color: #a1aaad;
                font-size: 12px;
                @include margin(0, 0, 0, 0);
                @include breakpoint(sm) {
                    text-align: center;
                }
            }
        }
        .token-text {
            @include margin(0, 30px, 0, 0);
            @include flex-center-vert;
            margin-left: auto;

            @include breakpoint(sm) {
                margin: auto;
            }

            .text-1 {
                font-size: 12px;
                color: #a1aaad;
                text-transform: uppercase;
                text-align: right;
                display: block;
                @include margin(0, 10px, 0, 0);
            }
            .text-2 {
                font-size: 34px;
                color: #a1aaad;
            }
        }

        .view-link {
            color: $brand-second-color;
            font-family: $font-secondary;
            font-size: 14px;
            margin-left: auto;
            &:hover {
                color: $brand-color;
            }
            @include breakpoint(sm) {
                margin: auto;
            }
        }
        &:hover {
            @include card-shadow;
            transform: scale(1.01);
        }
    }
}
