.profile-left {
    position: sticky;
    top: 120px;
    .nav {
        .nav-item {
            @include margin(0, 0, 5px, 0);
            .nav-link {
                color: $brand-color;
                font-size: 14px;
                @include border-radius(5px);
                @include padding(12px, 0, 12px, 20px);
                @include transition;

                &.inactive-link {
                    color: rgba($black-color, .1);
                    cursor: not-allowed;
                }

                &.logout-link {
                    color: #e67085;
                    &:hover {
                        background: rgba(#e67085, 0.1);
                        color: #e67085;
                    }
                }

                &:hover {
                    background: $border-grey-color;
                    color: $brand-color;
                    @include padding(12px, 0, 12px, 30px);
                }

                &.active {
                    background: $brand-second-color;
                    color: $white-color;
                }
            }
        }
    }
}

.total-badges-wrap {
    .achievement-badges {
        grid-template-columns: 24% 24% 24% 24%;
        @include breakpoint(sm) {
            grid-template-columns: 49% 49%;
        }
    }
}

.user-info-fill {
    background: #d7dee240;
    @include border-radius(12px);
    @include padding(15px, 20px, 15px, 20px);
    @include margin(0, 0, 15px, 0);
    position: relative;
    label {
        font-size: 16px;
        color: #687072 !important;
        @include margin(0, 0, 5px, 0);
    }
    .form-control {
        border: 1px solid $border-grey-color;
        height: 30px;
        font-size: 14px;
        font-family: $font-secondary;
        @include padding(5px, 10px, 5px, 10px);
    }
    p {
        font-size: 16px;
        color: $black-color;
        font-family: $font-secondary;
    }
    .name-input {
        display: none;
    }
    .edit-icon-name{
        position: absolute;
        right: 10px;
        top: 10px;
    }
    
}

.podium-badges {
    .leaderboard-content {
        header {
            @include padding(10px, 10px, 10px, 50px);
            h4 {
                &:nth-of-type(2),
                &:nth-of-type(3),
                &:nth-of-type(4) {
                    width: 23%;
                    text-align: center;
                    @include breakpoint(sm) {
                        width: 100%;
                    }
                }
            }
        }
        .list-group {
            &__item {
                p {
                    width: 25%;
                }
            }
        }
    }
}

.avatar-wrapper-outer {
    margin: 0 auto;
    position: relative;
    width: 215px;
    .avatar-wrapper {
        position: relative;
        width: 215px;
        height: 215px;
        margin: 20px auto;
        overflow: hidden;
        @include border-radius(50%);
        @include transition();
        background: #eff2f4;
        &:hover {
            transform: scale(1.05);
            cursor: pointer;
        }
        .profile-pic {
            width: 220px;
            height: 220px;
            @include transition();
            position: relative;
            left: -2px;
            top: -2px;
            &:after {
                content: "";
                background: url(../images/lion-greyscale.jpg) no-repeat;
                top: 0;
                left: 0;
                width: 70%;
                height: 100%;
                position: absolute;
                background-size: 100%;
                right: 0;
                bottom: 0;
                margin: auto;
                transform: translateY(13%);
            }
        }
    }
    .upload-button {
        position: absolute;
        bottom: -20px;
        @include border-radius(5px);
        background: $black-color;
        color: $white-color;
        cursor: pointer;
        width: 160px;
        text-align: center;
        @include padding(5px, 0, 5px, 0);
        left: 50%;
        transform: translateX(-50%);
    }
}

.fun-facts-wrap {
    .card {
        @include border-radius(12px);
        @include margin(0, 0, 10px, 0);
        @include padding(15px, 15px, 15px, 15px);
        @include flex-center-vert;
        flex-direction: row;

        &.bg-light-pink {
            background: #eb6e591a;
            border: 0;
        }
        &.bg-blue {
            background: rgba(#00bab4, 0.1);
            border: 0;
        }
        &.bg-light-blue {
            background: rgba(#3a84fa, 0.1);
            border: 0;
        }
        &.bg-purple {
            background: rgba(#a2097d, 0.1);
            border: 0;
        }
        &__figure-holder {
            width: 64px;
            height: 64px;
            background: $white-color;
            @include border-radius(10px);
            @include padding(10px, 10px, 10px, 10px);
            @include margin(0, 15px, 0, 0);
            @include flex-center;
            img {
                width: 100%;
            }
        }
        &__caption {
            width: 80%;
            .text-light {
                font-size: 16px;
                color: #687072 !important;
                @include margin(0, 0, 5px, 0);
            }
            .text-dark {
                font-size: 16px;
                color: $black-color;
                font-family: $font-secondary;
            }
            .form-control {
                border: 1px solid $border-grey-color;
                height: 30px;
                font-size: 14px;
                @include padding(5px, 10px, 5px, 10px);
            }
        }
    }
}

.change-password__body {
    .form-group-wrap {
        @include margin(0, 0, 20px, 0);
        label {
            @include margin(0, 0, 10px, 0);
        }
    }
    .form-group {
        position: relative;

        .icon {
            position: absolute;
            left: 20px;
            display: block;
            z-index: 9;
            height: 25px;
            top: 16px;
            @include breakpoint(sm) {
                left: 10px;
            }
            .bi {
                &:before {
                    color: $brand-second-color;
                    font-size: 22px;
                }
            }
        }
    }
    .form-control {
        @include padding(0, 10px, 0, 55px);
        @include breakpoint(sm) {
            @include padding(0, 10px, 0, 45px);
        }
    }
    input[type="submit"]{
        &:hover{
            color: $brand-color !important;   
        }
        &:disabled{
            cursor:not-allowed;
            background: #fff;
            border: 1px solid $border-grey-color;
            color: $border-grey-color;
        }
       
    }

}

.switch-container {
    @include flex-center-vert;
    justify-content: space-between;
    background: #d7dee240;
    @include border-radius(12px);
    @include padding(20px, 20px, 20px, 20px);
    .switch {
        appearance: none;
        outline: none;
        border: 0;
        position: relative;
        width: 32px;
        height: 16px;
        overflow: hidden;
        cursor: pointer;
        @include border-radius(50px);
        background: #7b858f;
        @include margin(0, 10px, 0, 0);

        &:after {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            top: 2px;
            left: 2px;
            background: $white-color;
            @include transition();
            @include border-radius(50px);
        }
        &:checked {
            background: $brand-second-color;
        }
        &:disabled {
            opacity: 0.5;
        }

        &:checked:after {
            transform: translateX(16px);
        }
    }
    .mode-text {
        color: $black-color;
        font-family: $font-secondary;
        font-size: 14px;
    }
}


